In [1]:
import numpy as np 
import pandas as pd 
from scipy import stats 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('LLHM2023.xlsx').fillna(0) # create dataframe and fill na with 0
df.head()

,Bib,Overall Position,Name,Guntime,Chiptime,Category,Category Position,Gender,Gender Position,Avg speed,...,Split - 10K - Cumulative time,Split - 10K - Rank,Split - 15K - Duration,Split - 15K - Cumulative time,Split - 15K - Rank,Split - 20K - Duration,Split - 20K - Cumulative time,Split - 20K - Rank,Split - Finish - Duration,Split - Finish - Cumulative time
0,815,1.0,David Smale,01:13:33,01:08:03,M30-34,1.0,m,1.0,18.52,...,00:32:34,5.0,00:16:10,00:48:43,1.0,00:16:07,01:04:50,2.0,00:03:14,01:08:03
1,763,2.0,Ben Leaman,01:13:33,01:08:06,M25-29,1.0,m,2.0,18.51,...,00:32:38,6.0,00:16:11,00:48:48,2.0,00:16:06,01:04:53,1.0,00:03:14,01:08:06
2,789,3.0,Simon Gardiner,01:17:34,01:12:09,M30-34,2.0,m,3.0,17.47,...,00:34:47,8.0,00:17:01,00:51:47,4.0,00:16:57,01:08:44,3.0,00:03:26,01:12:09
3,762,4.0,Peter Williams,01:17:54,01:12:29,M30-34,3.0,m,4.0,17.39,...,00:34:47,9.0,00:17:01,00:51:47,5.0,00:17:11,01:08:57,4.0,00:03:32,01:12:29
4,482,5.0,Mike Ginsberg,01:18:39,01:13:09,M30-34,4.0,m,5.0,17.23,...,00:34:41,7.0,00:17:00,00:51:41,3.0,00:17:52,01:09:33,7.0,00:03:36,01:13:09

In [3]:
# column names
df.columns

Index([u'Bib', u'Overall Position', u'Name', u'Guntime', u'Chiptime',
       u'Category', u'Category Position', u'Gender', u'Gender Position',
       u'Avg speed', u'Avg pace', u'Status', u'Split - 5K - Duration',
       u'Split - 5K - Cumulative time', u'Split - 5K - Rank',
       u'Split - 10K - Duration', u'Split - 10K - Cumulative time',
       u'Split - 10K - Rank', u'Split - 15K - Duration',
       u'Split - 15K - Cumulative time', u'Split - 15K - Rank',
       u'Split - 20K - Duration', u'Split - 20K - Cumulative time',
       u'Split - 20K - Rank', u'Split - Finish - Duration',
       u'Split - Finish - Cumulative time'],
      dtype='object')

In [4]:
# basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17255 entries, 0 to 17254
Data columns (total 26 columns):
Bib                                 17255 non-null int64
Overall Position                    17255 non-null float64
Name                                17255 non-null object
Guntime                             17255 non-null object
Chiptime                            17255 non-null object
Category                            17255 non-null object
Category Position                   17255 non-null float64
Gender                              17255 non-null object
Gender Position                     17255 non-null float64
Avg speed                           17255 non-null float64
Avg pace                            17255 non-null object
Status                              17255 non-null object
Split - 5K - Duration               17255 non-null object
Split - 5K - Cumulative time        17255 non-null object
Split - 5K - Rank                   17255 non-null float64
Split - 10K - Duration              17255 non-null object
Split - 10K - Cumulative time       17255 non-null object
Split - 10K - Rank                  17255 non-null float64
Split - 15K - Duration              17255 non-null object
Split - 15K - Cumulative time       17255 non-null object
Split - 15K - Rank                  17255 non-null float64
Split - 20K - Duration              17255 non-null object
Split - 20K - Cumulative time       17255 non-null object
Split - 20K - Rank                  17255 non-null float64
Split - Finish - Duration           17255 non-null object
Split - Finish - Cumulative time    17255 non-null object
dtypes: float64(8), int64(1), object(17)
memory usage: 2.3+ MB

In [5]:
# basic stats
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Bib,17255.0,11443.147262,6727.696718,1.0,5642.50,11331.00,17189.50,30050.00
Overall Position,17255.0,8550.174037,4980.934127,0.0,4236.50,8550.00,12863.50,17177.00
Category Position,17255.0,544.049899,392.529046,0.0,213.00,482.00,819.00,1814.00
Gender Position,17255.0,4397.457201,2697.870236,0.0,2114.00,4271.00,6427.50,10062.00
Avg speed,17255.0,9.678165,2.041547,0.0,8.35,9.61,10.97,18.52
Split - 5K - Rank,17255.0,8512.397798,4993.101283,0.0,4188.50,8510.00,12837.50,17161.00
Split - 10K - Rank,17255.0,8479.816865,4986.972277,0.0,4159.50,8479.00,12799.50,17121.00
Split - 15K - Rank,17255.0,8375.239119,4980.807873,0.0,4058.50,8373.00,12689.50,17008.00
Split - 20K - Rank,17255.0,8380.301999,4978.933670,0.0,4064.50,8378.00,12692.50,17010.00

### Data Preparation:

In [6]:
data = df[['Chiptime','Split - 5K - Cumulative time','Split - 10K - Cumulative time','Split - 15K - Cumulative time','Split - 20K - Cumulative time','Gender','Avg speed','Category']] # create dataframe for analysis, selecting specific attributes.

In [7]:
data.columns

Index([u'Chiptime', u'Split - 5K - Cumulative time',
       u'Split - 10K - Cumulative time', u'Split - 15K - Cumulative time',
       u'Split - 20K - Cumulative time', u'Gender', u'Avg speed', u'Category'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17255 entries, 0 to 17254
Data columns (total 8 columns):
Chiptime                         17255 non-null object
Split - 5K - Cumulative time     17255 non-null object
Split - 10K - Cumulative time    17255 non-null object
Split - 15K - Cumulative time    17255 non-null object
Split - 20K - Cumulative time    17255 non-null object
Gender                           17255 non-null object
Avg speed                        17255 non-null float64
Category                         17255 non-null object
dtypes: float64(1), object(7)
memory usage: 606.7+ KB

**Datetime columns:**
* Convert time objects to second integers for later analysis.
* Remove data that does not indicate Chiptime, to include recorded completion times only.

In [9]:
data['Chiptime Seconds'] = pd.TimedeltaIndex(data['Chiptime'].astype("str")).total_seconds().astype(int) # create seconds column
data = data[data['Chiptime Seconds'] > 0] # remove 0 value rows to only show registered completed particpants
data.loc[:, 'Split - 20K - Cumulative time'] = pd.TimedeltaIndex(data['Split - 20K - Cumulative time'].astype("str")).total_seconds().astype(int) # convert to seconds
data.loc[:, 'Split - 10K - Cumulative time'] = pd.TimedeltaIndex(data['Split - 10K - Cumulative time'].astype("str")).total_seconds().astype(int)# convert to seconds
data.loc[:, 'Split - 15K - Cumulative time'] = pd.TimedeltaIndex(data['Split - 15K - Cumulative time'].astype("str")).total_seconds().astype(int) # convert to seconds
data.loc[:, 'Split - 5K - Cumulative time'] = pd.TimedeltaIndex(data['Split - 5K - Cumulative time'].astype("str")).total_seconds().astype(int) # convert to seconds

c:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
data['Split - 20K - Cumulative time'] = pd.to_numeric(data['Split - 20K - Cumulative time'])
data['Split - 15K - Cumulative time'] = pd.to_numeric(data['Split - 15K - Cumulative time'])
data['Split - 10K - Cumulative time'] = pd.to_numeric(data['Split - 10K - Cumulative time'])
data['Split - 5K - Cumulative time'] = pd.to_numeric(data['Split - 5K - Cumulative time'])

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17177 entries, 0 to 17176
Data columns (total 9 columns):
Chiptime                         17177 non-null object
Split - 5K - Cumulative time     17177 non-null int64
Split - 10K - Cumulative time    17177 non-null int64
Split - 15K - Cumulative time    17177 non-null int64
Split - 20K - Cumulative time    17177 non-null int64
Gender                           17177 non-null object
Avg speed                        17177 non-null float64
Category                         17177 non-null object
Chiptime Seconds                 17177 non-null int64
dtypes: float64(1), int64(5), object(3)
memory usage: 1.1+ MB

**Category Column:**
* Convert Category elements to a sortable format for later analysis (i.e. remove gender prefix).

In [12]:
data['Category'] = data['Category'].str.slice(1)# slice first character (M/F), to enable category sorting of age category.
data['Category'].replace({'BC': 'Unknown'}, inplace=True) # preprocess 
data = data[data['Category'] != 'Unknown'] # drop Unknown

In [13]:
data.groupby(['Gender','Category']).size()

Gender  Category
f       17-19         97
        20-24       1046
        25-29       1806
        30-34       1303
        35-39       1241
        40-44       1471
        45-49       1187
        50-54        995
        55-59        566
        60-64        221
        65-69         61
        70-74         19
        75-79          3
        80-84          1
m       17-19         92
        20-24        529
        25-29       1142
        30-34       1131
        35-39        988
        40-44        939
        45-49        784
        50-54        651
        55-59        462
        60-64        225
        65-69         92
        70-74         24
        75-79          4
        85-89          1
dtype: int64

**Gender Column:**
* Convert Gender elements to a readable format (from m and f to Male and Female).
Remove entries that do not specify the participant’s gender.

In [14]:
data["Gender"].replace(to_replace = "m",value="Male", inplace = True) # replace elemments in Gender column
data["Gender"].replace(to_replace = "f",value="Female", inplace = True) # replace elemments in Gender column
data["Gender"].replace(to_replace = 0,value="Not Specifed", inplace = True) # replace elemments in Gender column
data = data[data['Gender'] != 'Not Specifed'] # drop not specifed

In [15]:
data.groupby(['Gender','Category']).size()

Gender  Category
Female  17-19         97
        20-24       1046
        25-29       1806
        30-34       1303
        35-39       1241
        40-44       1471
        45-49       1187
        50-54        995
        55-59        566
        60-64        221
        65-69         61
        70-74         19
        75-79          3
        80-84          1
Male    17-19         92
        20-24        529
        25-29       1142
        30-34       1131
        35-39        988
        40-44        939
        45-49        784
        50-54        651
        55-59        462
        60-64        225
        65-69         92
        70-74         24
        75-79          4
        85-89          1
dtype: int64

**Average Speed Columns:**

* Round the average speed for each participant to 2 decimal places.

In [16]:
data['Avg speed'] = data['Avg speed'].round(2) # round average speed

### Exercises

1. Find the percentages of female and male runners.
2. Find the number of female and male runners in each category. Create a barplot.
3. Plot the histograms of finish time for male and female runners.
4. Plot the histograms of split times (5K, 10K, 15K, 20K). Can you find any difference?
5. Create a boxplot of finish time for each category and gender.
6. Repeat the previous task for the splits. Can you find any difference?

---
7. Use scatter plots to find relationships between different data (for example 5K time and finish time).
8. Compute Pearson's correlations.

---

9. Create univariate linear model(s) to predict the finish time.
10. Create multivariate linear model to predict the finish time.
11. Can you find any relationship between
 * age and predictability of finish time,
 * gender and predictability of finish time,
 * professionality of the runner predictability of finish time?
 
--- 
11. Create a univariate logistic regression model to predict the gender of a runner.
12. Create a multivariate logistic regression model to predict the gender of a runner.
13. Can you find any relationship between the predictability of the gender and subsets of other variables?

In [19]:
dt1 = data.groupby('Gender').size()

10017

In [40]:
f=float(dt1.Female)
m=float(dt1.Male)

In [42]:
f/(f+m)*100

58.644107487852004

In [43]:
m/(f+m)*100

41.355892512148

In [47]:
dt2 = data.groupby(['Gender','Category'])

In [51]:
type(dt2)

pandas.core.groupby.generic.DataFrameGroupBy

KeyError: u"None of [Index([u'Male', u'Male', u'Male', u'Male', u'Male', u'Male', u'Male', u'Male',\n       u'Male', u'Male',\n       ...\n       u'Female', u'Female', u'Male', u'Female', u'Female', u'Female',\n       u'Female', u'Male', u'Female', u'Female'],\n      dtype='object', length=17081)] are in the [columns]"