## The Jupyter Notebook environment

- [Jupyter Notebook](https://jupyter-notebook.readthedocs.io/en/stable/) is a browser based, interactive work environment.
- It was developed primarily for Python, but it can be used with other programming languages too.
- A notebook consists of cells, the cell type can be text (Markdown) or code.
- Code cells can be executed, even multiple times. The result of the execution is displayed after the given code cell.
- A notebook can be used in two modes:
  + In command mode, we can perform cell level operations (e.g. insert new cell, delete cell, move cells, switch between the cells, etc). A few keyboard shortcuts:
    - ```b```: Insert new code cell after the current cell.
    - ```m```: Change the type of the current cell to text.
    - ```dd```: Delete the current cell.
    - ```Enter```: Switch to edit mode (to edit the content of the current cell).
  + In edit mode, we can edit the content of cells. A few keyboard shortcuts:
    - ```Ctrl+Enter```: Run the actual cell.
    - ```Esc```: Toggle back to command mode.
- For a detailed description of keyboard shortcuts, see the menu item Help / Keyboard Shortcuts.

## Simple data types

### [Integer number](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex)

In [5]:
# We can perform operations between numbers the usual way.
1+ 2 * 3

7

Remarks:
- Whitespaces do not count, the formatting of the above code follows the PEP 8 coding style.
- Jupyter displays the last expression of the cell after the execution.

In [6]:
# To override the default precedence, use parentheses!
(1 + 2) * 3

9

In [7]:
# Python can handle arbitrarily long integers, there is no overflow error.
111111111111111111111111111111111111111111111111111111111111111111111111111111 + 1

111111111111111111111111111111111111111111111111111111111111111111111111111112

In [8]:
# Create a variable called i, and assign the value 11 to it!
i = 11

Remarks:
- = is the symbol of the assignment operation.
- i gets the specified value, but the assignment itself provides no result. Therefore, the cell has no output.

In [13]:
# The variable can be used in further expressions.
i * 2

22

In [18]:
# Of course, the value of the variable can be changed.
i = 100
i

100

In [19]:
# Assignment can be combined with other operations.
i += 1 # i = i + 1
i

101

In [20]:
# Floating point division.
7 / 3

2.3333333333333335

In [21]:
# Integer division (the fractional part is discarded).
# It prevents many errors that it has a separate symbol.
7 // 3

2

In [22]:
# Modulo operation (calculates the remainder).
7 % 3

1

In [24]:
# Test if something is even.
j = 32
j % 2 == 0

True

In [27]:
# There is also a power operation, denoted by **.
2**3

8

### [Floating point number](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex)

- [Floating point arithmetic](https://en.wikipedia.org/wiki/Floating-point_arithmetic) makes it possible to perform approximate calculations with real numbers.
- Python's floating point type implements the (64 bit) double precision type of the IEEE-754 standard.

In [29]:
# Floating point constants can be given using the decimal point.
2.3

2.3

In [30]:
# Calculating the square root of two (approximately).
2**0.5

1.4142135623730951

In [31]:
# Create a float variable called f!
f = 4.5
f

4.5

In [32]:
# The type of f can be queried with the type() function.
type(f)

float

In [33]:
# ...type() also works on any other value.
type(f + 1)

float

In [34]:
type(1 + 2 * 3)

int

In [35]:
type(1 + 2 * 3.0)

float

In [36]:
# Now let's put an integer value into f!
# In Python, this can be done without any problem.
f = 12

In [37]:
f

12

In [38]:
type(f)

int

### [Complex number](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex)
- Python supports complex numbers, without the need for external libraries.

In [39]:
1 + 2j

(1+2j)

In [41]:
1j**2

(-1+0j)

In [42]:
# Division in algebraic form.
(1 + 2j) / (3 + 4j)

(0.44+0.08j)

In [43]:
(1 + 2j) * (3 - 4j)

(11+2j)

In [45]:
(3 + 4j) * (3 - 4j)

(25+0j)

In [46]:
11 / 25

0.44

In [47]:
2 / 25

0.08

In [1]:
# Raising the imaginary unit to a power.
1j**2

(-1+0j)

### [String](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)

- The string data type is used to store text values.
- In Python, a string is an immutable sequence of [Unicode](https://en.wikipedia.org/wiki/Unicode) symbols (or Unicode characters).

In [48]:
# String constants are delimited by ' signs.
'apple'

'apple'

In [49]:
# ...but " signs can also be used.
"apple"

'apple'

In [50]:
# Remark: In the output of the previous cells, ' is not part of the string,
# it only indicates the data type.
# Let's print the content of the string, without the delimiters!
print('apple')

apple

In [51]:
# The type() function works in this case too.
type('apple')

str

In [52]:
# Of course we can use Unicode symbols in the string.
'I ♥ ♬'

'I ♥ ♬'

In [53]:
# The rationale of the two delimiter signs:
print('foo"bar')

foo"bar

In [54]:
print("foo'bar")

foo'bar

In [56]:
# ...otherwise the ' and " character should be escaped.
print("foo\"bar")
print('foo\'bar')

foo"bar
foo'bar

In [57]:
# Create a string variable called s!
s = 'banana'

In [58]:
s

'banana'

In [59]:
type(s)

str

In [63]:
# Extracting the characters of s.
# Remark: Indexing starts from 0.
s[2]

'n'

In [64]:
# The character is returned as a string of length 1.
type(s[2])

str

In [65]:
# If the index is too large, then we get an error message.
s[100]

IndexError: string index out of range

In [66]:
# The characters of the string cannot be modified!
# (We will see later, why.)
s[0] = 'w'

TypeError: 'str' object does not support item assignment

In [67]:
# Of course, the variable s can get a new value.
s = 'wanana'

Remark: The assignment is executed, but the assignment expression itself has no result. Therefore the cell has no output.

In [69]:
# Let's print the content of s!
print(s)

wanana

In [70]:
# The length of the string (number of Unicode symbols):
len('I ♥ ♬')

5

In [71]:
# Concatenating strings.
'foo' + 'bar'

'foobar'

In [73]:
# Is a string contained in another one?
'xy' in 'abracadabra'

False

In [74]:
'ab' in 'abracadabra'

True

In [75]:
'Ab' in 'abracadabra'

False

In [76]:
# A string can be encoded into a byte sequence (using an encoding scheme).
'I ♥ ♬'.encode('utf-8')

b'I \xe2\x99\xa5 \xe2\x99\xac'

In [77]:
# Type of the result.
type('I ♥ ♬'.encode('utf-8'))

bytes

In [78]:
# The number of bytes can be greater than the number of Unicode symbols!
len('I ♥ ♬'.encode('utf-8'))

9

In [80]:
# Exercise:
# How long is the UTF-8 representation of the lowercase accented letters
# in the Hungarian alphabet (á, é, í, ó, ö, ő, ü, ű)?
print(len('á'.encode('utf-8')))
print(len('é'.encode('utf-8')))
print(len('í'.encode('utf-8')))
print(len('ö'.encode('utf-8')))
print(len('ő'.encode('utf-8')))
print(len('ü'.encode('utf-8')))
print(len('ű'.encode('utf-8')))
print(len('ó'.encode('utf-8')))

2
2
2
2
2
2
2
2

Remark: The code above is full of repetitions. We will learn soon, how can it be made more elegant.

In [83]:
len('ب'.encode('utf-8'))

2

In [84]:
# How long is the UTF-8 representation of ♥ and ♬?
print(len('♥'.encode('utf-8')))
print(len('♬'.encode('utf-8')))

3
3

In [85]:
# The operation that transforms a byte sequence into a string is called decoding.
b'I \xe2\x99\xa5 \xe2\x99\xac'.decode('utf-8')

'I ♥ ♬'

In [87]:
b'I \xe2\x99\xa5 \xe2\x99\xac'.decode('ascii')

UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 2: ordinal not in range(128)

In [89]:
b'I \xe2\x99\xa5 \xe2\x99\xac'.decode('latin2')

'I â\x99Ľ â\x99Ź'

In [90]:
# Creating an empty string.
''

''

In [91]:
len('')

0

In [93]:
# Remove leading and trailing whitspace (space, tab, line break)
# characters from the string.
'   great \t\n'.strip()

'great'

In [95]:
# Remove a specified set of characters instead.
'+++++great--+-+--'.strip('+-')

'great'

In [96]:
# Convert to lowercase.
'FOO'.lower()

'foo'

In [97]:
# Convert to uppercase.
'bar'.upper()

'BAR'

In [98]:
# Repeat string the given number of times.
'ha' * 100

'hahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahaha'

### [Boolean value](https://docs.python.org/3/library/stdtypes.html#boolean-values)
- This type represents the truth values of Boolean logic as *True* and *False*. Capital initials are important as Python is case sensitive.

In [100]:
# Create a boolean variable!
b = True
b

True

In [101]:
# Logical AND operation.
True and True

True

In [102]:
False and True

False

In [103]:
# Logical OR operation.
False or False

False

In [104]:
True or False

True

In [105]:
# Logical negation.
not True

False

In [106]:
# The result of a comparison operation is a logical value.
2 < 5

True

In [107]:
4 <= 3

False

In [108]:
3 > 0

True

In [109]:
5 >= 5

True

In [110]:
# The sign of equality testing is ==.
4 == 4

True

In [111]:
'foo' == 'f' + 'oo'

True

In [114]:
'bar' == 'Bar'

False

### [None](https://docs.python.org/3/library/stdtypes.html#the-null-object)
- In Python, None values have a placeholder role. For example, None can indicate missing or invalid result, or the default setting.

In [115]:
# Type of the value None.
type(None)

NoneType

In [117]:
# If the cell's last expression is None, then there is no output.
1 + 1
None