## Collections

### [Tuple](https://docs.python.org/3/library/stdtypes.html#tuples)

- A tuple is an immutable array that can be indexed by natural numbers.
- The items of the tuple do not need to have the same type.
- Indexing takes O(1), inclusion test takes O(n) time, where n is the number of items.

In [4]:
# Create a tuple variable t that contains 3 items!
t = (20, 30, 40)

In [2]:
t

(20, 30, 40)

In [5]:
# Check the type of t!
type(t)

tuple

In [6]:
# The len() function returns the number of items.
len(t)

3

In [7]:
# Accessing an item of the tuple (indexing starts from 0).
t[0]

20

In [8]:
t[1]

30

In [9]:
# The items cannot be modified!
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [11]:
# However, the variable t can get a new value.
t = (100, 30, 40)
t

(100, 30, 40)

In [12]:
# Inclusion test.
40 in t

True

In [13]:
41 in t

False

In [14]:
# If it does not cause ambiguity, the ( and ) signs can be omitted!
t = 4, 5, 6

In [15]:
type(t)

tuple

In [16]:
t

(4, 5, 6)

In [18]:
# Creating an empty tuple.
t = ()
type(t)

tuple

In [19]:
len(t)

0

In [1]:
# Creating a tuple of size one.
t = (42,)
type(t)

tuple

In [2]:
t2 = (42)

In [3]:
type (t2)

int

### [List](https://docs.python.org/3/library/stdtypes.html#lists)

- The modifiable version of tuple. New items can be added, and existing items can be changed too.
- Indexing takes O(1), inclusion test takes O(n) time, like for tuples.

In [22]:
# Create a list variable l that has 4 items!
# The items do not need to have the same type.
l = [25, 35, 45]

In [23]:
l

[25, 35, 45]

In [27]:
# Check the type of l and query the number of items!
type(l), len(l)

(list, 3)

In [28]:
# Accessing the items of the list (indexing starts from 0).
l[0]

25

In [29]:
l[1]

35

In [30]:
# Modifying list item.
l[0] = 100

In [31]:
l

[100, 35, 45]

In [32]:
# A list can contain another list as an item.
[2, 3, [4, 5]]

[2, 3, [4, 5]]

In [33]:
[2, 3, [4, 6], 'apple', ('x', 'y')]

[2, 3, [4, 6], 'apple', ('x', 'y')]

In [35]:
# Append item to the end of the list.
l.append(200)

In [36]:
l

[100, 35, 45, 200]

In [39]:
# Insert item into the middle of the list.
l.insert(2, 1000)

In [40]:
l

[100, 35, 1000, 45, 200]

In [41]:
# Inclusion test.
2 in l

False

In [42]:
200 in l

True

In [43]:
# Determine the index of a given value (the first occurrence).
l.index(35)

1

In [44]:
l.index(36)

ValueError: 36 is not in list

In [46]:
# Append all items of a sequence to the list.
l.extend([1, 2])

In [47]:
l

[100, 35, 1000, 45, 200, 1, 2]

In [48]:
# The extend() function is different from append()!
l.append([1, 2])
l

[100, 35, 1000, 45, 200, 1, 2, [1, 2]]

In [51]:
# Remove item at the given index.
l.pop(1)

35

In [52]:
l

[100, 1000, 45, 200, 1, 2, [1, 2]]

In [53]:
# Remove last item.
l.pop()

[1, 2]

In [54]:
l

[100, 1000, 45, 200, 1, 2]

In [55]:
# Concatenate two lists.
[2, 3, 4] + [5, 6]

[2, 3, 4, 5, 6]

In [56]:
# Repeat list the specified number of times.
[1, 2] * 10

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [58]:
[0] * 5

[0, 0, 0, 0, 0]

In [59]:
# Create empty list.
[]

[]

In [60]:
[1]

[1]

### [Set](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)

- The set data type is an implementation of the mathematical concept of set.
- A set cannot be indexed, inclusion test runs in O(1) time.

In [64]:
# Create a set variable s!
s = {2, 4, 3}
s

{2, 3, 4}

In [66]:
# Check the type and element count of s!
type(s), len(s)

(set, 3)

In [67]:
# Inclusion test.
2 in s

True

In [68]:
20 in s

False

In [69]:
s[0]

TypeError: 'set' object is not subscriptable

In [73]:
# Adding an element to the set.
s.add(100)
s

{2, 3, 4, 100}

In [74]:
# Set operations.
{2, 3, 4} | {4, 5} # union

{2, 3, 4, 5}

In [75]:
{2, 3, 4} & {4, 5} # intersection

{4}

In [76]:
{2, 3, 4} - {4, 5} # difference

{2, 3}

In [77]:
# The type of the elements is not necessarily identical.
{2, 3.5, 'foo'}

{2, 3.5, 'foo'}

In [78]:
# A set can contain any element of immutable type.
{2, 3.5, 'foo', (2, 3)}

{(2, 3), 2, 3.5, 'foo'}

In [79]:
# ...but it cannot contain a mutable element!
{2, 3.5, 'foo', [2, 3]}

TypeError: unhashable type: 'list'

In [81]:
# Removing an element.
s.remove(2)

In [82]:
s

{3, 4, 100}

In [84]:
# Creating an empty set.
set()

set()

### [Dictionary](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)

- A dict(ionary) is a set of key-value pairs, where the keys are unique.
- The key's data type can be a simple data type, tuple or any immutable data type.
- Indexing can be done by the key, in O(1) time.

In [85]:
# Create a dict variable d!
d = {'a': 123, 'b': 56}

In [86]:
d

{'a': 123, 'b': 56}

In [88]:
# Check the type and the element count of d!
type(d), len(d)

(dict, 2)

In [89]:
# Querying the assigned value of an existing key.
d['a']

123

In [90]:
# Querying the assigned value of a non-existent key.
d['aa']

KeyError: 'aa'

In [92]:
# Changing the assigned value of a key.
d['a'] = 200
d

{'a': 200, 'b': 56}

In [93]:
# Inserting a new key-value pair.
d['c'] = 'bar'
d

{'a': 200, 'b': 56, 'c': 'bar'}

In [94]:
# Removing a key-value pair.
del d['a']

In [95]:
d

{'b': 56, 'c': 'bar'}

In [96]:
# Is a key contained in the dict?
'b' in d

True

In [97]:
'B' in d

False

In [98]:
# Creating an empty dict.
{}

{}

In [99]:
# Even tuples can be dict keys.
{(1, 1): 'aaa', (1, 2): 'bbb'}

{(1, 1): 'aaa', (1, 2): 'bbb'}

## Conversion

For every data type discussed so far, there is a function that converts to the given type from any other type, if the operation makes sense. These conversion functions are called `int()`, `float()`, `str()`, `bool()`, `tuple()`, `list()`, `set()` and `dict()`.

In [100]:
# float to int conversion
int(2.7)

2

In [101]:
# string to int conversion
int('12')

12

In [102]:
# string to float conversion
float('10')

10.0

In [103]:
# a conversion that fails
int([1, 2])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [104]:
# ...another one
int('moricka')

ValueError: invalid literal for int() with base 10: 'moricka'

In [105]:
# int to float conversion
float(42)

42.0

In [106]:
# int to string conversion
str(20)

'20'

In [107]:
# int to bool conversion
bool(100)

True

In [108]:
bool(0)

False

In [109]:
# list => tuple
tuple([1, 2, 3])

(1, 2, 3)

In [111]:
# tuple => list
list((4, 5, 6))

[4, 5, 6]

In [113]:
# tuple => set
set((7, 8, 9, 9))

{7, 8, 9}

In [114]:
# list of pairs => dict
dict([('a', 1), ('b', 2)])

{'a': 1, 'b': 2}

In [115]:
# dict => list of pairs
list({'a': 1, 'b': 2}.items())

[('a', 1), ('b', 2)]

In [117]:
# Creating an empty list (alternative solution).
list()

[]

In [118]:
set()

set()

In [119]:
# Creating the default value of a data type.
int()

0