## [pandas](https://pandas.pydata.org/)

- pandas is a NumPy based data analysis tool. Many of its ideas were borrowed from the R language.
- pandas' fundamental data types are the DataFrame (table) and the Series (column).
- pandas can be viewed as an in-memory, column oriented database.
- Tutorial video: [10-minute tour of pandas](https://vimeo.com/59324550).

In [2]:
# Importing pandas as pd.
import pandas as pd

In [2]:
# The version number of pandas.
pd.__version__

'1.5.3'

In [6]:
# Creating a DataFrame from columns.
# The input is a dict, where the keys are the column names and the values are the columns.
data = {
    'a': [10, 20, 30, 40],
    'b': ['xx', 'yy', 'zz', 'qq'],
    'c': [1.5, 2.6, 3.7, 4.8]
}
df1 = pd.DataFrame(data)
df1

    a   b    c
0  10  xx  1.5
1  20  yy  2.6
2  30  zz  3.7
3  40  qq  4.8

In [7]:
# The type of df1.
type(df1)

pandas.core.frame.DataFrame

In [8]:
# Column names.
df1.columns

Index(['a', 'b', 'c'], dtype='object')

In [10]:
# Iterating over column names.
for c in df1:
    print(c)

a
b
c

In [11]:
# Number of rows.
len(df1)

4

In [12]:
# Shape of the DataFrame.
df1.shape

(4, 3)

In [13]:
# Summary information.
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      object
 2   c       4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes

In [15]:
# Basic statistics about the numerical columns.
df1.describe().T

   count   mean        std   min     25%    50%     75%   max
a    4.0  25.00  12.909944  10.0  17.500  25.00  32.500  40.0
c    4.0   3.15   1.420094   1.5   2.325   3.15   3.975   4.8

In [18]:
# Creating a DataFrame from rows.
# The input is a list of dicts, where each dict represents a row.
data = [
    {'a': 10, 'b': 'Joe', 'c': 1.5},
    {'a': 20, 'c': 1.5},
    {'a': 30, 'b': 'Tom', 'c': 2.5},
    {'a': 40, 'b': 'George', 'c': 5.5}
]
df2 = pd.DataFrame(data)
df2

    a       b    c
0  10     Joe  1.5
1  20     NaN  1.5
2  30     Tom  2.5
3  40  George  5.5

In [22]:
# NaN is not equal to any value!
import numpy as np
np.nan == np.nan

False

In [24]:
# Every DataFrame (and Series) contains an index.
# By default, the index starts from 0 and increases by 1.
df2.index

RangeIndex(start=0, stop=4, step=1)

In [27]:
# This can be overridden of course.
df3 = pd.DataFrame(data, index=['aaa', 'bbb', 'ccc', 'ddd'])
df3

      a       b    c
aaa  10     Joe  1.5
bbb  20     NaN  1.5
ccc  30     Tom  2.5
ddd  40  George  5.5

In [28]:
df3.index

Index(['aaa', 'bbb', 'ccc', 'ddd'], dtype='object')

In [30]:
# Creating a Series, without specifying an index.
se1 = pd.Series([2, 3, 4, 5])
se1

0    2
1    3
2    4
3    5
dtype: int64

In [31]:
# The type of the result.
type(se1)

pandas.core.series.Series

In [32]:
# Creating a Series with an index.
se2 = pd.Series([2, 3, 4, 5], index=['a', 'b', 'c', 'd'])
se2

a    2
b    3
c    4
d    5
dtype: int64

In [33]:
len(se2)

4

In [34]:
se2.shape

(4,)

In [41]:
# A column can be selected from a DataFrame using the [] operator.
df3['a']

aaa    10
bbb    20
ccc    30
ddd    40
Name: a, dtype: int64

In [39]:
# ...or if the column name is a valid identifier, then the . operator can be used too.
df3.a

aaa    10
bbb    20
ccc    30
ddd    40
Name: a, dtype: int64

In [45]:
# Selecting multiple columns.
df3[['a', 'c']]

      a    c
aaa  10  1.5
bbb  20  1.5
ccc  30  2.5
ddd  40  5.5

In [48]:
# If we index by a list of size 1, then the type of the result is DataFrame.
df3[['a']]

      a
aaa  10
bbb  20
ccc  30
ddd  40

In [50]:
# Selecting rows from a DataFrame.
df3.loc['bbb']

a     20
b    NaN
c    1.5
Name: bbb, dtype: object

In [52]:
df3.loc[['aaa', 'ccc', 'aaa']]

      a    b    c
aaa  10  Joe  1.5
ccc  30  Tom  2.5
aaa  10  Joe  1.5

In [53]:
df3.loc[['bbb']]

      a    b    c
bbb  20  NaN  1.5

In [55]:
# Position based selection of rows.
df3.iloc[2]

a     30
b    Tom
c    2.5
Name: ccc, dtype: object

In [56]:
df3.iloc[:2]

      a    b    c
aaa  10  Joe  1.5
bbb  20  NaN  1.5

In [57]:
df3[:2] # equivalent to df3.iloc[:2]

      a    b    c
aaa  10  Joe  1.5
bbb  20  NaN  1.5

In [61]:
# Selecting an item from a Series.
se2['b']

3

In [62]:
se2[['b', 'c']]

b    3
c    4
dtype: int64

In [64]:
# Accessing the raw data.
se2.values

array([2, 3, 4, 5])

In [65]:
type(se2.values)

numpy.ndarray

In [67]:
df3.values

array([[10, 'Joe', 1.5],
       [20, nan, 1.5],
       [30, 'Tom', 2.5],
       [40, 'George', 5.5]], dtype=object)

In [69]:
df3['c'].values

array([1.5, 1.5, 2.5, 5.5])

### [SELECT](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

In [70]:
# Let's create an example DataFrame!
df = pd.DataFrame([
    {'student': 'John Doe', 'subject': 'Mathematics',  'grade': 5},
    {'student': 'John Doe', 'subject': 'History', 'grade': 2},
    {'student': 'Jane Smith', 'subject': 'Mathematics',  'grade': 3},
    {'student': 'Jane Smith', 'subject': 'Mathematics',  'grade': 5},
    {'student': 'Jane Smith', 'subject': 'History', 'grade': 4},
    {'student': 'Scunner Campbell', 'subject': 'Mathematics',  'grade': 1},
    {'student': 'Scunner Campbell', 'subject': 'Mathematics',  'grade': 2},
    {'student': 'Scunner Campbell', 'subject': 'History', 'grade': 5},
])
df

            student      subject  grade
0          John Doe  Mathematics      5
1          John Doe      History      2
2        Jane Smith  Mathematics      3
3        Jane Smith  Mathematics      5
4        Jane Smith      History      4
5  Scunner Campbell  Mathematics      1
6  Scunner Campbell  Mathematics      2
7  Scunner Campbell      History      5

In [73]:
# Logical condition column.
df['student'] == 'John Doe'

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
Name: student, dtype: bool

In [74]:
# All grades of John Doe.
df[df['student'] == 'John Doe']
# SELECT * FROM df WHERE student='John Doe'

    student      subject  grade
0  John Doe  Mathematics      5
1  John Doe      History      2

In [83]:
# Grades better than 1 and worse than 5.
df[(df['grade'] > 1) & (df['grade'] < 5)]

            student      subject  grade
1          John Doe      History      2
2        Jane Smith  Mathematics      3
4        Jane Smith      History      4
6  Scunner Campbell  Mathematics      2

### [GROUPBY](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html)

In pandas, the steps of grouping are as follows:

- **Splitting** the data into groups based on some criteria.
- **Applying** a function to each group independently.
- **Combining** the results into a data structure.

Out of these, the split step is the most straightforward. The splitting criterion is usually a column or a set of columns. The apply step is typically an aggregation (e.g. number of items in the group, number of unique values, sum, mean, minimum, maximum, first record, last record). If the apply step is an aggregation, then combining runs automatically, otherwise the programmer has to initiate it.

In [84]:
# Let's use the previous DataFrame!
df

            student      subject  grade
0          John Doe  Mathematics      5
1          John Doe      History      2
2        Jane Smith  Mathematics      3
3        Jane Smith  Mathematics      5
4        Jane Smith      History      4
5  Scunner Campbell  Mathematics      1
6  Scunner Campbell  Mathematics      2
7  Scunner Campbell      History      5

In [86]:
# Group by subject.
gb = df.groupby('subject')

In [87]:
# The type of the result.
type(gb)

pandas.core.groupby.generic.DataFrameGroupBy

In [88]:
# Number of records per subject.
gb.size()

subject
History        3
Mathematics    5
dtype: int64

In [89]:
# The same query, without using the gb variable.
df.groupby('subject').size()

subject
History        3
Mathematics    5
dtype: int64

In [90]:
# Alternative solution:
df['subject'].value_counts()

Mathematics    5
History        3
Name: subject, dtype: int64

In [94]:
# Average grade per subject.
df.groupby('subject')['grade'].mean()

subject
History        3.666667
Mathematics    3.200000
Name: grade, dtype: float64

In [98]:
df['grade'].groupby(df['subject']).mean()

subject
History        3.666667
Mathematics    3.200000
Name: grade, dtype: float64

In [102]:
# Subject averages for every student.
df.groupby(['student', 'subject'])['grade'].mean()

student           subject
Jane Smith        History        4.0
                  Mathematics    4.0
John Doe          History        2.0
                  Mathematics    5.0
Scunner Campbell  History        5.0
                  Mathematics    1.5
Name: grade, dtype: float64

In [103]:
# Changing the index to 2 ordinary columns.
df.groupby(['student', 'subject'])['grade'].mean().reset_index()

            student      subject  grade
0        Jane Smith      History    4.0
1        Jane Smith  Mathematics    4.0
2          John Doe      History    2.0
3          John Doe  Mathematics    5.0
4  Scunner Campbell      History    5.0
5  Scunner Campbell  Mathematics    1.5

In [104]:
df.groupby(['student', 'subject'])['grade'].mean().reset_index(drop=True)

0    4.0
1    4.0
2    2.0
3    5.0
4    5.0
5    1.5
Name: grade, dtype: float64

In [106]:
df[::-1]

            student      subject  grade
7  Scunner Campbell      History      5
6  Scunner Campbell  Mathematics      2
5  Scunner Campbell  Mathematics      1
4        Jane Smith      History      4
3        Jane Smith  Mathematics      5
2        Jane Smith  Mathematics      3
1          John Doe      History      2
0          John Doe  Mathematics      5

## Example queries on the pl.txt data set

In [3]:
# Loading pl.txt into a DataFrame.
names = ['round', 'hteam', 'ateam', 'hgoals', 'agoals']
df = pd.read_csv('pl.txt', sep='\t', skiprows=6, names=names)
df

     round                 hteam                    ateam  hgoals  agoals
0        1      Blackburn Rovers  Wolverhampton Wanderers       1       2
1        1             Fulham FC              Aston Villa       0       0
2        1          Liverpool FC           Sunderland AFC       1       1
3        1   Queens Park Rangers         Bolton Wanderers       0       4
4        1        Wigan Athletic             Norwich City       1       1
..     ...                   ...                      ...     ...     ...
375     38        Sunderland AFC        Manchester United       0       1
376     38          Swansea City             Liverpool FC       1       0
377     38     Tottenham Hotspur                Fulham FC       2       0
378     38  West Bromwich Albion               Arsenal FC       2       3
379     38        Wigan Athletic  Wolverhampton Wanderers       3       2

[380 rows x 5 columns]

In [4]:
# Add "number of goals" column to the DataFrame.
df['goals'] = df['hgoals'] + df['agoals']
df

,round,hteam,ateam,hgoals,agoals,goals
0,1,Blackburn Rovers,Wolverhampton Wanderers,1,2,3
1,1,Fulham FC,Aston Villa,0,0,0
2,1,Liverpool FC,Sunderland AFC,1,1,2
3,1,Queens Park Rangers,Bolton Wanderers,0,4,4
4,1,Wigan Athletic,Norwich City,1,1,2
...,...,...,...,...,...,...
375,38,Sunderland AFC,Manchester United,0,1,1
376,38,Swansea City,Liverpool FC,1,0,1
377,38,Tottenham Hotspur,Fulham FC,2,0,2
378,38,West Bromwich Albion,Arsenal FC,2,3,5
379,38,Wigan Athletic,Wolverhampton Wanderers,3,2,5

In [5]:
# Number of goals in round 13.
df[df['round'] == 13]['goals'].sum()

25

In [6]:
# Which round had the highest number of goals?
df.groupby('round')['goals'].sum().sort_values()[::-1][:1]

round
10    39
Name: goals, dtype: int64

In [9]:
df.groupby('round')['goals'].sum().idxmax()

10

In [10]:
# Number of games per round.
df.groupby("round").size()

round
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
11    10
12    10
13    10
14    10
15    10
16    10
17    10
18    10
19    10
20    10
21    10
22    10
23    10
24    10
25    10
26    10
27    10
28    10
29    10
30    10
31    10
32    10
33    10
34    10
35    10
36    10
37    10
38    10
dtype: int64

In [11]:
assert (df.groupby("round").size() == 10).all()

In [12]:
# Print the 10 rounds with the highest number of goals!
df.groupby('round')['goals'].sum().sort_values(ascending=False)[:10]

round
10    39
5     38
25    36
22    35
36    35
31    35
7     34
38    32
8     32
9     31
Name: goals, dtype: int64

In [14]:
# What percentage of the games had at least 1 goal?
len(df[df['goals']>0])/len(df)*100

92.89473684210526

In [23]:
# What was the game with the highest number of goals?
df.iloc[df['goals'].idxmax()]

round                     3
hteam     Manchester United
ateam            Arsenal FC
hgoals                    8
agoals                    2
goals                    10
Name: 29, dtype: object

In [30]:
# Total number of goals scored by Manchester United?
df[df['hteam'] == 'Manchester United']['hgoals'].sum()+df[df['ateam'] == 'Manchester United']['agoals'].sum()

89

In [32]:
# Top 5 teams, scoring the most goals.
se = df.groupby('hteam')['hgoals'].sum() + df.groupby('ateam')['agoals'].sum()
se.sort_values(ascending=False)[:5]

hteam
Manchester City      93
Manchester United    89
Arsenal FC           74
Tottenham Hotspur    66
Chelsea FC           65
dtype: int64

## FIFA'22 Players

fifa22.csv.gz contains data about players in FIFA'19.

In [3]:
# Load the data into a DataFrame!
df = pd.read_csv('fifa22.csv.gz')
df

/tmp/ipykernel_6111/1633685452.py:2: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('fifa22.csv.gz')

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962,https://sofifa.com/player/261962/defu-song/220002,Song Defu,宋德福,CDM,47,52,70000.0,1000.0,22,...,46+2,46+2,46+2,48+2,15+2,https://cdn.sofifa.net/players/261/962/22_120.png,https://cdn.sofifa.net/teams/112541/60.png,https://cdn.sofifa.net/flags/cn.png,NaN,https://cdn.sofifa.net/flags/cn.png
19235,262040,https://sofifa.com/player/262040/caoimhin-port...,C. Porter,Caoimhin Porter,CM,47,59,110000.0,500.0,19,...,44+2,44+2,44+2,48+2,14+2,https://cdn.sofifa.net/players/262/040/22_120.png,https://cdn.sofifa.net/teams/445/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19236,262760,https://sofifa.com/player/262760/nathan-logue/...,N. Logue,Nathan Logue-Cunningham,CM,47,55,100000.0,500.0,21,...,45+2,45+2,45+2,47+2,12+2,https://cdn.sofifa.net/players/262/760/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19237,262820,https://sofifa.com/player/262820/luke-rudden/2...,L. Rudden,Luke Rudden,ST,47,60,110000.0,500.0,19,...,26+2,26+2,26+2,32+2,15+2,https://cdn.sofifa.net/players/262/820/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19238,264540,https://sofifa.com/player/264540/emanuel-lalch...,E. Lalchhanchhuaha,Emanuel Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,...,41+2,41+2,41+2,45+2,16+2,https://cdn.sofifa.net/players/264/540/22_120.png,https://cdn.sofifa.net/teams/113040/60.png,https://cdn.sofifa.net/flags/in.png,NaN,https://cdn.sofifa.net/flags/in.png

In [6]:
df.shape

(19239, 110)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Columns: 110 entries, sofifa_id to nation_flag_url
dtypes: float64(16), int64(44), object(50)
memory usage: 16.1+ MB

In [8]:
print(', '.join(sorted(df.columns)))

age, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, body_type, cam, cb, cdm, cf, club_contract_valid_until, club_flag_url, club_jersey_number, club_joined, club_loaned_from, club_logo_url, club_name, club_position, club_team_id, cm, defending, defending_marking_awareness, defending_sliding_tackle, defending_standing_tackle, dob, dribbling, gk, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, goalkeeping_speed, height_cm, international_reputation, lam, lb, lcb, lcm, ldm, league_level, league_name, lf, lm, long_name, ls, lw, lwb, mentality_aggression, mentality_composure, mentality_interceptions, mentality_penalties, mentality_positioning, mentality_vision, movement_acceleration, movement_agility, movement_balance, movement_reactions, movement_sprint_speed, nation_flag_url, nation_jersey_number, nation_logo_url, nation_position, nation_team_id, nationality_id, nationality_name, overall, pace, passing, physic, player_face_url, player_positions, player_tags, player_traits, player_url, potential, power_jumping, power_long_shots, power_shot_power, power_stamina, power_strength, preferred_foot, ram, rb, rcb, rcm, rdm, real_face, release_clause_eur, rf, rm, rs, rw, rwb, shooting, short_name, skill_ball_control, skill_curve, skill_dribbling, skill_fk_accuracy, skill_long_passing, skill_moves, sofifa_id, st, value_eur, wage_eur, weak_foot, weight_kg, work_rate

In [11]:
# How many clubs are in the data set?
df['club_name'].nunique()

701

In [12]:
df['club_name'].isnull().sum()

61

In [13]:
# Which nationality is the most frequent?
df.value_counts('nationality_name')[:1]

nationality_name
England    1719
dtype: int64

In [20]:
df.groupby(['nationality_id', 'nationality_name']).size().reset_index()

     nationality_id nationality_name    0
0                 1          Albania   46
1                 2          Andorra    1
2                 3          Armenia    7
3                 4          Austria  319
4                 5       Azerbaijan    8
..              ...              ...  ...
158             208          Estonia    1
159             213   Chinese Taipei    2
160             214          Comoros    8
161             218      South Sudan    5
162             219           Kosovo   46

[163 rows x 3 columns]

In [18]:
df.nationality_name.nunique()

163

In [19]:
df.nationality_id.nunique()

163

In [14]:
# What is the average age?
df['age'].mean()

25.210821768283175

In [15]:
df['age'].isnull().sum()

0

In [21]:
# Who is the oldest player?
df.loc[df.age.idxmax()]

sofifa_id                                                      254704
player_url          https://sofifa.com/player/254704/kazuyoshi-miu...
short_name                                                   K. Miura
long_name                                                       三浦 知良
player_positions                                                   ST
                                          ...
player_face_url     https://cdn.sofifa.net/players/254/704/22_120.png
club_logo_url              https://cdn.sofifa.net/teams/113197/60.png
club_flag_url                     https://cdn.sofifa.net/flags/jp.png
nation_logo_url                                                   NaN
nation_flag_url                   https://cdn.sofifa.net/flags/jp.png
Name: 16209, Length: 110, dtype: object

In [23]:
df[df.age == df.age.max()]

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
16209,254704,https://sofifa.com/player/254704/kazuyoshi-miu...,K. Miura,三浦 知良,ST,59,59,NaN,700.0,54,...,32+2,32+2,32+2,31+2,12+2,https://cdn.sofifa.net/players/254/704/22_120.png,https://cdn.sofifa.net/teams/113197/60.png,https://cdn.sofifa.net/flags/jp.png,NaN,https://cdn.sofifa.net/flags/jp.png

In [26]:
# What is his position?
df.loc[df.age.idxmax()][['short_name', 'nationality_name', 'age', 'club_name', 'player_positions']]

short_name             K. Miura
age                          54
club_name           Yokohama FC
player_positions             ST
Name: 16209, dtype: object

In [30]:
# Who are the 10 fastest players (based on movement_sprint_speed)?
columns = ['short_name', 'age', 'nationality_name', 'club_name', 'player_positions', 'movement_sprint_speed']
df.sort_values('movement_sprint_speed')[::-1][:10][columns]

,short_name,age,nationality_name,club_name,player_positions,movement_sprint_speed
6,K. Mbappé,22,France,Paris Saint-Germain,"ST, LW",97
763,Adama Traoré,25,Spain,Wolverhampton Wanderers,"RW, RWB",96
274,A. Davies,20,Canada,FC Bayern München,"LB, LM",96
1060,D. James,23,Wales,Leeds United,"RM, LM",95
3534,G. Holtmann,26,Philippines,VfL Bochum 1848,"LM, LW, RW",95
95,A. Hakimi,22,Morocco,Paris Saint-Germain,"RB, RWB",95
499,Vinícius Jr.,20,Brazil,Real Madrid CF,LW,95
9150,M. Ajani,27,Germany,MSV Duisburg,"RM, RB",94
1730,G. Nkoudou,26,France,Beşiktaş JK,"LM, LW",94
137,T. Hernández,23,France,AC Milan,LB,94

In [4]:
# Which is the team with the highest number of nationalities?
df.groupby('club_name')['nationality_name'].nunique().idxmax()

'Brentford'

In [32]:
se = df.groupby('club_name')['nationality_name'].nunique()
se[se == se.max()]

club_name
Brentford     19
LOSC Lille    19
Watford       19
Name: nationality_name, dtype: int64

In [33]:
# What is the number of players per nationality in Fulham
df[df.club_name == 'Fulham']

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
946,205186,https://sofifa.com/player/205186/paulo-gazzani...,P. Gazzaniga,Paulo Dino Gazzaniga,GK,77,77,7000000.0,43000.0,29,...,32+2,32+2,32+2,33+2,76+1,https://cdn.sofifa.net/players/205/186/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/ar.png
1575,195202,https://sofifa.com/player/195202/tom-cairney/2...,T. Cairney,Tom Cairney,"CAM, CM",75,75,5500000.0,49000.0,30,...,63+2,63+2,63+2,66+2,17+2,https://cdn.sofifa.net/players/195/202/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-sct.png
1709,215716,https://sofifa.com/player/215716/aleksandar-mi...,A. Mitrović,Aleksandar Mitrović,ST,75,76,6500000.0,53000.0,26,...,48+2,48+2,48+2,43+2,19+2,https://cdn.sofifa.net/players/215/716/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/rs.png
1712,216266,https://sofifa.com/player/216266/kenny-tete/22...,K. Tete,Kenny Joelle Tete,RB,75,78,7000000.0,42000.0,25,...,73+2,73+2,73+2,73+2,16+2,https://cdn.sofifa.net/players/216/266/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/nl.png
1736,220710,https://sofifa.com/player/220710/harry-wilson/...,H. Wilson,Harry Wilson,"CAM, RM",75,81,9000000.0,42000.0,24,...,50+2,50+2,50+2,59+2,18+2,https://cdn.sofifa.net/players/220/710/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1367/60.png,https://cdn.sofifa.net/flags/gb-wls.png
2078,203502,https://sofifa.com/player/203502/bobby-decordo...,B. Decordova-Reid,Bobby De Cordova-Reid,"RM, ST",74,74,4200000.0,47000.0,28,...,60+2,60+2,60+2,66+2,17+2,https://cdn.sofifa.net/players/203/502/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/jm.png
2079,203505,https://sofifa.com/player/203505/joe-bryan/220002,J. Bryan,Joe Bryan,"LB, LWB",74,75,4400000.0,41000.0,27,...,70+2,70+2,70+2,72+2,19+2,https://cdn.sofifa.net/players/203/505/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png
2097,205897,https://sofifa.com/player/205897/nathaniel-cha...,N. Chalobah,Nathaniel Chalobah,"CDM, CM",74,76,4700000.0,41000.0,26,...,72+2,72+2,72+2,69+2,16+2,https://cdn.sofifa.net/players/205/897/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png
2099,205990,https://sofifa.com/player/205990/harrison-reed...,H. Reed,Harrison Reed,"CDM, CM",74,79,5500000.0,41000.0,26,...,71+2,71+2,71+2,72+2,17+2,https://cdn.sofifa.net/players/205/990/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png
2162,216451,https://sofifa.com/player/216451/jean-michael-...,J. Seri,Jean Michaël Seri,"CDM, CM",74,74,3600000.0,43000.0,29,...,67+2,67+2,67+2,70+2,18+2,https://cdn.sofifa.net/players/216/451/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/ci.png
2190,222104,https://sofifa.com/player/222104/tosin-adarabi...,T. Adarabioyo,Oluwatosin Adarabioyo,CB,74,82,8500000.0,35000.0,23,...,74+2,74+2,74+2,69+2,17+2,https://cdn.sofifa.net/players/222/104/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png
2470,177723,https://sofifa.com/player/177723/fabricio-agos...,Fabricio,Fabricio Martín Agosto Ramírez,GK,73,73,1000000.0,31000.0,33,...,29+2,29+2,29+2,31+2,72+1,https://cdn.sofifa.net/players/177/723/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/es.png
2681,212267,https://sofifa.com/player/212267/ivan-ricardo-...,Ivan Cavaleiro,Ivan Ricardo Neves Abreu Cavaleiro,"ST, LM, RM",73,73,3300000.0,45000.0,27,...,52+2,52+2,52+2,57+2,18+2,https://cdn.sofifa.net/players/212/267/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/pt.png
2778,222951,https://sofifa.com/player/222951/marek-rodak/2...,M. Rodák,Marek Rodák,GK,73,80,5000000.0,25000.0,24,...,26+2,26+2,26+2,26+2,72+2,https://cdn.sofifa.net/players/222/951/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/sk.png
2850,229348,https://sofifa.com/player/229348/antonee-robin...,A. Robinson,Antonee Robinson,"LB, LWB",73,80,6000000.0,33000.0,23,...,68+2,68+2,68+2,71+2,18+2,https://cdn.sofifa.net/players/229/348/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1387/60.png,https://cdn.sofifa.net/flags/us.png
3976,200138,https://sofifa.com/player/200138/michael-hecto...,M. Hector,Michael Hector,CB,71,72,1800000.0,31000.0,28,...,71+1,71+1,71+1,64+2,18+2,https://cdn.sofifa.net/players/200/138/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/jm.png
3986,200778,https://sofifa.com/player/200778/cyrus-christi...,C. Christie,Cyrus Sylvester Frederick Christie,"RB, RWB",71,71,1700000.0,31000.0,28,...,67+2,67+2,67+2,69+2,17+2,https://cdn.sofifa.net/players/200/778/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1355/60.png,https://cdn.sofifa.net/flags/ie.png
4012,202940,https://sofifa.com/player/202940/neeskens-keba...,N. Kebano,Neeskens Kebano,"LM, LW",71,71,1800000.0,34000.0,29,...,46+2,46+2,46+2,53+2,20+2,https://cdn.sofifa.net/players/202/940/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/cd.png
4023,203910,https://sofifa.com/player/203910/anthony-knock...,A. Knockaert,Anthony Knockaert,"RM, RW",71,71,1800000.0,34000.0,29,...,55+2,55+2,55+2,58+2,18+2,https://cdn.sofifa.net/players/203/910/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/fr.png
4386,235450,https://sofifa.com/player/235450/domingos-quin...,Domingos Quina,Domingos Quina,"CAM, CM, LM",71,81,4200000.0,23000.0,21,...,49+2,49+2,49+2,56+2,16+2,https://cdn.sofifa.net/players/235/450/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/pt.png
4654,185349,https://sofifa.com/player/185349/denis-odoi/22...,D. Odoi,Denis Odoi,"RB, CB",70,70,825000.0,26000.0,33,...,68+2,68+2,68+2,68+2,17+2,https://cdn.sofifa.net/players/185/349/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/be.png
4784,203485,https://sofifa.com/player/203485/terence-kongo...,T. Kongolo,Terence Kongolo,"CB, LB",70,73,1800000.0,26000.0,27,...,70+2,70+2,70+2,68+2,17+2,https://cdn.sofifa.net/players/203/485/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/nl.png
4818,208534,https://sofifa.com/player/208534/alfie-mawson/...,A. Mawson,Alfie Mawson,CB,70,73,1800000.0,26000.0,27,...,70+2,70+2,70+2,62+2,18+2,https://cdn.sofifa.net/players/208/534/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png
5602,198261,https://sofifa.com/player/198261/tim-ream/220002,T. Ream,Timothy Michael Ream,CB,69,69,675000.0,22000.0,33,...,69,69,69,66+2,17+2,https://cdn.sofifa.net/players/198/261/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1387/60.png,https://cdn.sofifa.net/flags/us.png
5857,222079,https://sofifa.com/player/222079/josh-onomah/2...,J. Onomah,Josh Onomah,"CM, CAM",69,76,2800000.0,21000.0,24,...,61+2,61+2,61+2,62+2,16+2,https://cdn.sofifa.net/players/222/079/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png
7470,264337,https://sofifa.com/player/264337/rodrigo-muniz...,Rodrigo Muniz,Rodrigo Muniz Carvalho,ST,68,80,2900000.0,17000.0,20,...,47+2,47+2,47+2,47+2,18+2,https://cdn.sofifa.net/players/264/337/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/br.png
8564,256725,https://sofifa.com/player/256725/fabio-carvalh...,F. Carvalho,Fabio Carvalho,CAM,67,86,2600000.0,6000.0,18,...,40+2,40+2,40+2,48+2,15+2,https://cdn.sofifa.net/players/256/725/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png
9399,239800,https://sofifa.com/player/239800/steven-sesseg...,S. Sessegnon,Zeze Steven Sessegnon,"RB, LB",66,80,2000000.0,10000.0,21,...,61+2,61+2,61+2,64+2,17+2,https://cdn.sofifa.net/players/239/800/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png
14659,241825,https://sofifa.com/player/241825/tyrese-franco...,T. Francois,Tyrese Jay Francois,CM,61,74,775000.0,7000.0,20,...,54+2,54+2,54+2,59+2,18+2,https://cdn.sofifa.net/players/241/825/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/au.png
14876,255206,https://sofifa.com/player/255206/jay-stansfiel...,J. Stansfield,Jay Stansfield,ST,61,81,900000.0,4000.0,18,...,36+2,36+2,36+2,42+2,13+2,https://cdn.sofifa.net/players/255/206/22_120.png,https://cdn.sofifa.net/teams/144/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png

In [34]:
df[df.club_name == 'Fulham'].value_counts('nationality_name')

nationality_name
England                9
Netherlands            2
Portugal               2
United States          2
Jamaica                2
Spain                  1
Slovakia               1
Serbia                 1
Scotland               1
Republic of Ireland    1
Argentina              1
Australia              1
France                 1
Côte d'Ivoire          1
Congo DR               1
Brazil                 1
Belgium                1
Wales                  1
dtype: int64

In [6]:
# How many Hungarian players are there?
(df['nationality_name'] == 'Hungary').sum()

49

In [7]:
(df['nationality_name'] == 'Syria').sum()

2

In [8]:
df[df['nationality_name'] == 'Syria']

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
1331,223627,https://sofifa.com/player/223627/omar-al-somah...,O. Al Somah,Omar Jehad Al Somah,ST,76,76,6000000.0,40000.0,32,...,54+2,54+2,54+2,56+2,18+2,https://cdn.sofifa.net/players/223/627/22_120.png,https://cdn.sofifa.net/teams/112387/60.png,https://cdn.sofifa.net/flags/sa.png,NaN,https://cdn.sofifa.net/flags/sy.png
6948,229210,https://sofifa.com/player/229210/mohammed-osma...,M. Osman,Mohammed Osman,"CM, CDM",68,69,1400000.0,5000.0,27,...,55+2,55+2,55+2,57+2,18+2,https://cdn.sofifa.net/players/229/210/22_120.png,https://cdn.sofifa.net/teams/100646/60.png,https://cdn.sofifa.net/flags/nl.png,NaN,https://cdn.sofifa.net/flags/sy.png

In [9]:
df.groupby('nationality_name').size()['Hungary']

49

In [15]:
# Who are the top 5 Hungarian players based on the overall attribute?
df[df['nationality_name'] == 'Hungary'].sort_values('overall', ascending=False)[:5]

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
77,185122,https://sofifa.com/player/185122/peter-gulacsi...,P. Gulácsi,Péter Gulácsi,GK,85,85,28500000.0,87000.0,31,...,33+3,33+3,33+3,30+3,83+2,https://cdn.sofifa.net/players/185/122/22_120.png,https://cdn.sofifa.net/teams/112172/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1886/60.png,https://cdn.sofifa.net/flags/hu.png
325,204638,https://sofifa.com/player/204638/willi-orban/2...,W. Orban,Vilmos Tamás Orban,CB,81,82,24500000.0,79000.0,28,...,81+1,81+1,81+1,70+2,18+2,https://cdn.sofifa.net/players/204/638/22_120.png,https://cdn.sofifa.net/teams/112172/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1886/60.png,https://cdn.sofifa.net/flags/hu.png
1090,236772,https://sofifa.com/player/236772/dominik-szobo...,D. Szoboszlai,Dominik Szoboszlai,"CAM, LM",77,87,23000000.0,46000.0,20,...,47+2,47+2,47+2,55+2,16+2,https://cdn.sofifa.net/players/236/772/22_120.png,https://cdn.sofifa.net/teams/112172/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1886/60.png,https://cdn.sofifa.net/flags/hu.png
1395,234171,https://sofifa.com/player/234171/roland-sallai...,R. Sallai,Roland Sallai,"RM, CF",76,79,10000000.0,23000.0,24,...,49+2,49+2,49+2,55+2,16+2,https://cdn.sofifa.net/players/234/171/22_120.png,https://cdn.sofifa.net/teams/25/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1886/60.png,https://cdn.sofifa.net/flags/hu.png
1956,253170,https://sofifa.com/player/253170/attila-szalai...,A. Szalai,Attila Szalai,"CB, LB",75,83,11500000.0,33000.0,23,...,75+2,75+2,75+2,71+2,17+2,https://cdn.sofifa.net/players/253/170/22_120.png,https://cdn.sofifa.net/teams/326/60.png,https://cdn.sofifa.net/flags/tr.png,https://cdn.sofifa.net/teams/1886/60.png,https://cdn.sofifa.net/flags/hu.png

In [16]:
# Which 10 teams spend the most on wages?
df.groupby('club_name')['wage_eur'].sum().sort_values(ascending=False)[:10]

club_name
Real Madrid CF         4394000.0
Manchester City        3610400.0
Manchester United      3407000.0
FC Barcelona           3230000.0
Liverpool              3211000.0
Paris Saint-Germain    3000000.0
Chelsea                2978000.0
Inter                  2384000.0
Leicester City         2267000.0
Tottenham Hotspur      2081000.0
Name: wage_eur, dtype: float64