## Generators (the yield statement)

In [1]:
# Generate the Fibonacci numbers using a for loop
f1, f2 = 1, 1
for _ in range(10):
    print(f1)
    f1, f2 = f2, f1 + f2

1
1
2
3
5
8
13
21
34
55

In [2]:
def gen_fibonacci(n=10):
    f1, f2 = 1, 1
    for _ in range(n):
        yield f1
        f1, f2 = f2, f1 + f2

In [3]:
type(gen_fibonacci())

generator

In [4]:
for f in gen_fibonacci():
    print(f)

1
1
2
3
5
8
13
21
34
55

In [5]:
list(gen_fibonacci(20))

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

## Generator Expressions

In [6]:
sq = (i**2 for i in range(10))

In [7]:
type(sq)

generator

In [8]:
sum(sq)

285

In [9]:
sum(i**2 for i in range(10))

285

### 10001st Prime (Problem 7)

By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.
What is the 10001st prime number?

In [10]:
%%time
# solution 1
def is_prime(n):
    if n <= 1: return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0: return False
    return True

cand = 3
idx = 2
while True:
    if is_prime(cand):
        if idx == 10001: break
        idx += 1
    cand += 2
    
print(cand, idx)

104743 10001
CPU times: user 187 ms, sys: 837 µs, total: 188 ms
Wall time: 187 ms

In [11]:
%%time
# solution 2
import sympy

cand = 3
idx = 2
while True:
    if sympy.isprime(cand):
        if idx == 10001: break
        idx += 1
    cand += 2
    
print(cand, idx)

104743 10001
CPU times: user 412 ms, sys: 64.1 ms, total: 476 ms
Wall time: 475 ms

In [12]:
%%time
# solution 3
def gen_primes(n):
    yield 2
    cand = 3
    idx = 2
    while True:
        if sympy.isprime(cand):
            yield cand
            if idx == n: return
            idx += 1
        cand += 2
        
for p in gen_primes(10001):
    pass
p

CPU times: user 136 ms, sys: 85 µs, total: 136 ms
Wall time: 135 ms

104743

In [13]:
%%time
# solution 4

def is_prime(n, primes):
    for i in primes:
        if n % i == 0: return False
        if i * i > n: break
    return n > 1

def gen_primes(n):
    yield 2
    cand = 3
    idx = 2
    primes = [2]
    while True:
        if is_prime(cand, primes):
            primes.append(cand)
            yield cand
            if idx == n: return
            idx += 1
        cand += 2
        
for p in gen_primes(10001):
    pass
p

CPU times: user 81.9 ms, sys: 4.31 ms, total: 86.2 ms
Wall time: 85.1 ms

104743

### Coin Sums (Problem 31)

In the United Kingdom the currency is made up of pound (£) and pence (p). There are eight coins in general circulation: 1p, 2p, 5p, 10p, 20p, 50p, £1 (100p), and £2 (200p). It is possible to make £2 in the following way:
1×£1 + 1×50p + 2×20p + 1×5p + 1×2p + 3×1p
How many different ways can £2 be made using any number of coins?

In [14]:
%%time
def num_decompositions(coins, target):
    if target == 0: return 1
    if len(coins) == 1: return int(target % coins[0] == 0)
    # if len(coins) == 1: return 1
    
    c = coins[-1]
    return sum(
        num_decompositions(coins[:-1], target - i * c)
        for i in range(target // c + 1)
    )
        
num_decompositions([1, 2, 5, 10, 20, 50, 100, 200], 200)

CPU times: user 42.2 ms, sys: 323 µs, total: 42.5 ms
Wall time: 41.2 ms

73682

###  Distinct Powers (Problem 29)

Consider all integer combinations of $a^b$ for $2 \le a \le 5$ and $2 \le b \le 5$:

\begin{matrix}
2^2=4, 2^3=8, 2^4=16, 2^5=32\\
3^2=9, 3^3=27, 3^4=81, 3^5=243\\
4^2=16,4^3=64, 4^4=256, 4^5=1024\\
5^2=25, 5^3=125, 5^4=625, 5^5=3125
\end{matrix}
<p>If they are then placed in numerical order, with any repeats removed, we get the following sequence of $15$ distinct terms:
$$4, 8, 9, 16, 25, 27, 32, 64, 81, 125, 243, 256, 625, 1024, 3125.$$</p>
<p>How many distinct terms are in the sequence generated by $a^b$ for $2 \le a \le 100$ and $2 \le b \le 100$?</p>

In [15]:
# solution 1
s = set()
for a in range(2, 101):
    for b in range(2, 101):
        s.add(a**b)
len(s)

9183

In [16]:
# solution 2
import itertools
len({a**b for a, b in itertools.product(range(2, 101), repeat=2)})

9183

### Integer Right Triangles (Problem 39)
If $f$ is the perimeter of a right angle triangle with integral length sides, $\{a, b, c\}$, there are exactly three solutions for $p=120$.

$$\{20,48,52\}, \{24,45,51\}, \{30,40,50\}$$

For which value of $p \leq 1000$, is the number of solutions maximised?

In [17]:
# solution 1
nsol = {}
for p in range(3, 1001):
    cnt = 0
    for a in range(1, p // 3 + 1):
        for b in range(a, (p - a) // 2 + 1):
            c = p - a - b
            if a**2 + b**2 == c**2:
                cnt += 1
    nsol[p] = cnt

In [18]:
max(nsol, key=lambda p: nsol[p])

840

### Iterating over the rows of a DataFrame

In [19]:
# load example DataFrame
import pandas as pd
names = ['round', 'hteam', 'ateam', 'hgoals', 'agoals']
df = pd.read_csv('pl.txt', sep='\t', skiprows=6, names=names)
df

     round                 hteam                    ateam  hgoals  agoals
0        1      Blackburn Rovers  Wolverhampton Wanderers       1       2
1        1             Fulham FC              Aston Villa       0       0
2        1          Liverpool FC           Sunderland AFC       1       1
3        1   Queens Park Rangers         Bolton Wanderers       0       4
4        1        Wigan Athletic             Norwich City       1       1
..     ...                   ...                      ...     ...     ...
375     38        Sunderland AFC        Manchester United       0       1
376     38          Swansea City             Liverpool FC       1       0
377     38     Tottenham Hotspur                Fulham FC       2       0
378     38  West Bromwich Albion               Arsenal FC       2       3
379     38        Wigan Athletic  Wolverhampton Wanderers       3       2

[380 rows x 5 columns]

In [23]:
for idx, row in df.iterrows(): pass

In [24]:
idx, row.hteam

(379, 'Wigan Athletic')

In [27]:
for row in df.itertuples(): pass

In [28]:
print(row)
print(row.Index)
print(row.hteam)
print(row[0])
print(row[1])

Pandas(Index=379, round=38, hteam='Wigan Athletic', ateam='Wolverhampton Wanderers', hgoals=3, agoals=2)
379
Wigan Athletic
379
38

In [29]:
for row in df.itertuples(index=False): pass

### Selecting specific groups from a GroupBy

In [30]:
# For each round select the teams that scored the most goals.
data = []
for r, df1 in df.groupby('round'):
    maxgoals = max(df1['hgoals'].max(), df1['agoals'].max())
    teams = list(df1['hteam'][df1['hgoals'] == maxgoals]) + list(df1['ateam'][df1['agoals'] == maxgoals])
    for t in teams:
        data.append({'round': r, 'team': t, 'goals': maxgoals})
pd.DataFrame(data)

    round               team  goals
0       1    Manchester City      4
1       1   Bolton Wanderers      4
2       2        Aston Villa      3
3       2  Manchester United      3
4       2    Manchester City      3
..    ...                ...    ...
66     37       Liverpool FC      4
67     38         Everton FC      3
68     38    Manchester City      3
69     38     Wigan Athletic      3
70     38         Arsenal FC      3

[71 rows x 3 columns]

### Context Manager (with statment)

In [34]:
# file handling example
try:
    f = open('pl.txt')
    f.readline()
    line = f.readline()
    tok = line.split()
    int(tok[1])
except ValueError:
    print('Erorr')
finally:
    f.close()

Erorr

In [35]:
# the same example using the with statment
with open('pl.txt') as f2: # f2.__enter__() is called
    f2.readline()
    line2 = f2.readline()
    tok2 = line2.split()
    int(tok2[1])
# f2.__exit__() is called

ValueError: invalid literal for int() with base 10: 'column'

In [36]:
f2.readline()

ValueError: I/O operation on closed file.

In [37]:
# writing a file using Context Manager
with open('foo.txt', 'w') as f:
    f.write('bar')
# the file is closed for sure

In [38]:
open('foo.txt', 'w').write('bar')
# it is dependent on the interpreter or configuration if the file is close here

3

### Double-base Palindromes (Problem 36)

The decimal number $585_{10} = 1001001001_2$ is palindromic in both bases. Find the sum of all numbers, less than one million, which are palindromic in base 10 and base 2. (Please note that the palindromic number, in either base, may not include leading zeros.)

In [51]:
s = 0
for i in range (1, 1000000):
    x = str(i)
    if x == x[::-1]:
        b = bin(i)
        if b[2::] == b[:1:-1]:
            s += i
s

872187

In [52]:
# Solution 2
def is_palindrome(s):
    return s == s[::-1]

s = 0
for i in range(1_000_000):
    if is_palindrome(str(i)) and is_palindrome(bin(i)[2:]):
        s += i
s

872187