## Generators (the yield statement)

In [1]:
# Generate the Fibonacci numbers using a for loop
f1, f2 = 1, 1
for _ in range(10):
    print(f1)
    f1, f2 = f2, f1 + f2

1
1
2
3
5
8
13
21
34
55

In [2]:
def gen_fibonacci(n=10):
    f1, f2 = 1, 1
    for _ in range(n):
        yield f1
        f1, f2 = f2, f1 + f2

In [3]:
type(gen_fibonacci())

generator

In [4]:
for f in gen_fibonacci():
    print(f)

1
1
2
3
5
8
13
21
34
55

In [5]:
list(gen_fibonacci(20))

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

## Generator Expressions

In [6]:
sq = (i**2 for i in range(10))

In [7]:
type(sq)

generator

In [8]:
sum(sq)

285

In [9]:
sum(i**2 for i in range(10))

285

### 10001st Prime (Problem 7)

By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.
What is the 10001st prime number?

In [10]:
%%time
# solution 1
def is_prime(n):
    if n <= 1: return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0: return False
    return True

cand = 3
idx = 2
while True:
    if is_prime(cand):
        if idx == 10001: break
        idx += 1
    cand += 2
    
print(cand, idx)

104743 10001
CPU times: user 190 ms, sys: 0 ns, total: 190 ms
Wall time: 188 ms

In [11]:
%%time
# solution 2
import sympy

cand = 3
idx = 2
while True:
    if sympy.isprime(cand):
        if idx == 10001: break
        idx += 1
    cand += 2
    
print(cand, idx)

104743 10001
CPU times: user 378 ms, sys: 80.4 ms, total: 458 ms
Wall time: 458 ms

In [12]:
%%time
# solution 3
def gen_primes(n):
    yield 2
    cand = 3
    idx = 2
    while True:
        if sympy.isprime(cand):
            yield cand
            if idx == n: return
            idx += 1
        cand += 2
        
for p in gen_primes(10001):
    pass
p

CPU times: user 131 ms, sys: 4.16 ms, total: 135 ms
Wall time: 134 ms

104743

In [13]:
%%time
# solution 4

def is_prime(n, primes):
    for i in primes:
        if n % i == 0: return False
        if i * i > n: break
    return n > 1

def gen_primes(n):
    yield 2
    cand = 3
    idx = 2
    primes = [2]
    while True:
        if is_prime(cand, primes):
            primes.append(cand)
            yield cand
            if idx == n: return
            idx += 1
        cand += 2
        
for p in gen_primes(10001):
    pass
p

CPU times: user 86.2 ms, sys: 0 ns, total: 86.2 ms
Wall time: 85 ms

104743

### Coin Sums (Problem 31)

In the United Kingdom the currency is made up of pound (£) and pence (p). There are eight coins in general circulation: 1p, 2p, 5p, 10p, 20p, 50p, £1 (100p), and £2 (200p). It is possible to make £2 in the following way:
1×£1 + 1×50p + 2×20p + 1×5p + 1×2p + 3×1p
How many different ways can £2 be made using any number of coins?

In [14]:
%%time
def num_decompositions(coins, target):
    if target == 0: return 1
    if len(coins) == 1: return int(target % coins[0] == 0)
    # if len(coins) == 1: return 1
    
    c = coins[-1]
    return sum(
        num_decompositions(coins[:-1], target - i * c)
        for i in range(target // c + 1)
    )
        
num_decompositions([1, 2, 5, 10, 20, 50, 100, 200], 200)

CPU times: user 42.5 ms, sys: 0 ns, total: 42.5 ms
Wall time: 41.5 ms

73682

###  Distinct Powers (Problem 29)

Consider all integer combinations of $a^b$ for $2 \le a \le 5$ and $2 \le b \le 5$:

\begin{matrix}
2^2=4, 2^3=8, 2^4=16, 2^5=32\\
3^2=9, 3^3=27, 3^4=81, 3^5=243\\
4^2=16,4^3=64, 4^4=256, 4^5=1024\\
5^2=25, 5^3=125, 5^4=625, 5^5=3125
\end{matrix}
<p>If they are then placed in numerical order, with any repeats removed, we get the following sequence of $15$ distinct terms:
$$4, 8, 9, 16, 25, 27, 32, 64, 81, 125, 243, 256, 625, 1024, 3125.$$</p>
<p>How many distinct terms are in the sequence generated by $a^b$ for $2 \le a \le 100$ and $2 \le b \le 100$?</p>

In [15]:
# solution 1
s = set()
for a in range(2, 101):
    for b in range(2, 101):
        s.add(a**b)
len(s)

9183

In [16]:
# solution 2
import itertools
len({a**b for a, b in itertools.product(range(2, 101), repeat=2)})

9183

### Integer Right Triangles (Problem 39)
If $f$ is the perimeter of a right angle triangle with integral length sides, $\{a, b, c\}$, there are exactly three solutions for $p=120$.

$$\{20,48,52\}, \{24,45,51\}, \{30,40,50\}$$

For which value of $p \leq 1000$, is the number of solutions maximised?

In [17]:
# solution 1
nsol = {}
for p in range(3, 1001):
    cnt = 0
    for a in range(1, p // 3 + 1):
        for b in range(a, (p - a) // 2 + 1):
            c = p - a - b
            if a**2 + b**2 == c**2:
                cnt += 1
    nsol[p] = cnt

In [18]:
max(nsol, key=lambda p: nsol[p])

840

### Iterating over the rows of a DataFrame

In [19]:
# load example DataFrame
import pandas as pd
names = ['round', 'hteam', 'ateam', 'hgoals', 'agoals']
df = pd.read_csv('pl.txt', sep='\t', skiprows=6, names=names)
df

     round                 hteam                    ateam  hgoals  agoals
0        1      Blackburn Rovers  Wolverhampton Wanderers       1       2
1        1             Fulham FC              Aston Villa       0       0
2        1          Liverpool FC           Sunderland AFC       1       1
3        1   Queens Park Rangers         Bolton Wanderers       0       4
4        1        Wigan Athletic             Norwich City       1       1
..     ...                   ...                      ...     ...     ...
375     38        Sunderland AFC        Manchester United       0       1
376     38          Swansea City             Liverpool FC       1       0
377     38     Tottenham Hotspur                Fulham FC       2       0
378     38  West Bromwich Albion               Arsenal FC       2       3
379     38        Wigan Athletic  Wolverhampton Wanderers       3       2

[380 rows x 5 columns]

In [20]:
%timeit for idx, row in df.iterrows(): pass

16.5 ms ± 30.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [22]:
for idx, row in df.iterrows(): pass
idx, row.hteam

(379, 'Wigan Athletic')

In [23]:
%timeit for row in df.itertuples(): pass

719 µs ± 3.19 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [24]:
for row in df.itertuples(): pass
print(row)
print(row.Index)
print(row.hteam)
print(row[0])
print(row[1])

Pandas(Index=379, round=38, hteam='Wigan Athletic', ateam='Wolverhampton Wanderers', hgoals=3, agoals=2)
379
Wigan Athletic
379
38

In [25]:
%timeit for row in df.itertuples(index=False): pass

700 µs ± 1.46 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

### Iterating over the groups of a GroupBy

In [26]:
# For each round select the teams that scored the most goals.
data = []
for r, df1 in df.groupby('round'):
    maxgoals = max(df1['hgoals'].max(), df1['agoals'].max())
    teams = list(df1['hteam'][df1['hgoals'] == maxgoals]) + list(df1['ateam'][df1['agoals'] == maxgoals])
    for t in teams:
        data.append({'round': r, 'team': t, 'goals': maxgoals})
pd.DataFrame(data)

    round               team  goals
0       1    Manchester City      4
1       1   Bolton Wanderers      4
2       2        Aston Villa      3
3       2  Manchester United      3
4       2    Manchester City      3
..    ...                ...    ...
66     37       Liverpool FC      4
67     38         Everton FC      3
68     38    Manchester City      3
69     38     Wigan Athletic      3
70     38         Arsenal FC      3

[71 rows x 3 columns]

### Selecting specific groups from a GroupBy

In [27]:
gb = df.groupby('round')

In [28]:
gb.get_group(10)

    round                 hteam                    ateam  hgoals  agoals
90     10            Everton FC        Manchester United       0       1
91     10            Chelsea FC               Arsenal FC       3       5
92     10       Manchester City  Wolverhampton Wanderers       3       1
93     10          Norwich City         Blackburn Rovers       3       3
94     10        Sunderland AFC              Aston Villa       2       2
95     10          Swansea City         Bolton Wanderers       3       1
96     10        Wigan Athletic                Fulham FC       0       2
97     10  West Bromwich Albion             Liverpool FC       0       2
98     10     Tottenham Hotspur      Queens Park Rangers       3       1
99     10            Stoke City         Newcastle United       1       3

### Context Managers (with statement)

In [29]:
# file handling example
try:
    f = open('pl.txt')
    f.readline()
    line = f.readline()
    tok = line.split()
    int(tok[1])
except ValueError:
    print('error 1')
finally:
    f.close()

error 1

In [30]:
# the same example using the with statement
with open('pl.txt') as f: # f.__enter__() is called
    f.readline()
    line = f.readline()
    tok = line.split()
    try:
        int(tok[1])
    except ValueError:
        print('error 1')

# f.__exit__() is called

error 1

In [31]:
# writing a file in a with block
with open('foo.txt', 'w') as f:
    f.write('bar')
# (the file closed here for sure)

In [32]:
open('foo.txt', 'w').write('bar')
# (it is dependent on the interpreter or configuration if the file is closed here)

3

### Double-base Palindromes (Problem 36)

The decimal number $585_{10} = 1001001001_2$ is palindromic in both bases. Find the sum of all numbers, less than one million, which are palindromic in base 10 and base 2. (Please note that the palindromic number, in either base, may not include leading zeros.)

In [33]:
def is_palindrome(s):
    return s == s[::-1]

s = 0
for i in range(1_000_000):
    if is_palindrome(str(i)) and is_palindrome(bin(i)[2:]):
        s += i
s

872187

### Monopoly Odds (Problem 84)

- square idx to name mapping: 0 => GO, 1 => A1, ..., 39 => H2
- CC & CH deck: represented as a list of string actions, we shuffle at the beginning and pop-append at drawing a card (we can create a class for CC and CH)
- simulation step: roll, advance on board, process effects (CC, CH, G2J, 3 doubles) until there are effects, increase square counter (create a Simulation class)

In [116]:
SQ_NAMES = [
    'GO', 'A1', 'CC1', 'A2', 'T1', 'R1', 'B1', 'CH1', 'B2', 'B3',
    'JAIL', 'C1', 'U1', 'C2', 'C3', 'R2', 'D1', 'CC2', 'D2', 'D3',
    'FP', 'E1', 'CH2', 'E2', 'E3', 'R3', 'F1', 'F2', 'U2', 'F3',
    'G2J', 'G1', 'G2', 'CC3', 'G3', 'R4', 'CH3', 'H1', 'T2', 'H2'
]

In [117]:
SQ_LOCATIONS = {n: l for l, n in enumerate(SQ_NAMES)}

In [118]:
import hashlib

def hash6(str_list):
    s = ','.join(str_list)
    return hashlib.md5(s.encode('utf-8')).hexdigest()[:6]

In [119]:
assert len(SQ_NAMES) == 40
assert hash6(SQ_NAMES) == 'c91376'

In [145]:
import random

class Deck:
    def __init__(self, cards, seed=42):
        self.cards = cards
        random.Random(seed).shuffle(self.cards)
        self.idx = -1
        
    def draw_card(self):
        self.idx = (self.idx + 1) % len(self.cards)
        return self.cards[self.idx]
    
class CommunityChestDeck(Deck):
    def __init__(self, seed=42):
        super().__init__(['GO', 'JAIL'] + ['-'] * 14, seed)
    
    def draw_and_handle_card(self, loc):
        action = self.draw_card()
        if action in {'GO', 'JAIL'}:
            return SQ_LOCATIONS[action]
        else:
            return loc
        
class ChanceDeck(Deck):
    def __init__(self, seed=42):
        super().__init__(
            ['GO', 'JAIL', 'C1', 'E3', 'H2', 'R1', 'next_R', 'next_R', 'next_U', 'back_3'] + ['-'] * 6,
            seed
        )
            
    def draw_and_handle_card(self, loc):
        action = self.draw_card()
        if action in {'GO', 'JAIL', 'C1', 'E3', 'H2', 'R1'}:
            loc = SQ_LOCATIONS[action]
        elif action == 'next_R':
            while True:
                loc = (loc + 1) % len(SQ_NAMES)
                if SQ_NAMES[loc].startswith('R'): break
        elif action == 'next_U':
            while True:
                loc = (loc + 1) % len(SQ_NAMES)
                if SQ_NAMES[loc].startswith('U'): break
        elif sq == 'step_3':
            loc = (loc - 3) % len(SQ_NAMES)
            
        return loc

In [146]:
class Dice:
    def __init__(self, seed=42):
        self.rnd = random.Random(seed)

class Dice66(Dice):
    def roll(self):
        self._values = self.rnd.randint(1, 6), self.rnd.randint(1, 6)
        return sum(self._values)
    
    def is_double(self):
        return self._values[0] == self._values[1]

In [136]:
d = Dice66()
assert hash6([str(d.roll()) for _ in range(100)]) == 'bba13d'

In [147]:
class Simulation:
    def __init__(self, dice, seed=42):
        self.loc = 0
        self.cc = CommunityChestDeck(seed + 1)
        self.ch = ChanceDeck(seed + 2)
        self.double_counter = 0
        
        self.visits = {n: 0 for n in SQ_NAMES}
        self.dice = dice
        
    def step(self):
        # roll
        value = self.dice.roll()
        if self.dice.is_double(): self.double_counter += 1
        else: self.double_counter = 0
        
        if self.double_counter >= 3: # handle 3 consecutive doubles
            self.loc = SQ_LOCATIONS['JAIL']
        else:
            loc = (self.loc + value) % len(SQ_NAMES) # advance on board
            while loc != self.loc:
                self.loc = loc
                if SQ_NAMES[loc] == 'G2J':
                    loc = SQ_LOCATIONS['JAIL']
                elif SQ_NAMES[loc].startswith('CC'): # handle community chest deck
                    loc = self.cc.draw_and_handle_card(loc)
                elif SQ_NAMES[loc].startswith('CH'): # handle chance deck
                    loc = self.ch.draw_and_handle_card(loc)
                    
        self.visits[SQ_NAMES[self.loc]] += 1
            
    def run(self, nsteps=100_000):
        for i in range(nsteps):
            self.step()
            
sim = Simulation(Dice66())
sim.run()

In [148]:
import pandas as pd
se = pd.Series(sim.visits)
se = se / se.sum()
se.sort_values()[::-1][:3]

JAIL    0.06265
E3      0.03093
GO      0.03055
dtype: float64

### Counting Fractions (Problem 72)

In [150]:
d_max = 8
for n in range(1, d_max):
    print(n)

1
2
3
4
5
6
7

In [193]:
%%time
# Naive solution that is too slow.
import math

d_max = 10000
cnt = 0
for n in range(1, d_max):
    for d in range(n + 1, d_max + 1):
        if math.gcd(n, d) == 1:
            cnt += 1
            
print(cnt)

30397485
CPU times: user 17 s, sys: 0 ns, total: 17 s
Wall time: 17 s

In [172]:
def factorize(n):
    factors = []
    while n > 1:
        for k in range(2, int(n**0.5) + 1):
            if n % k == 0:
                factors.append(k)
                n //= k
                break
        else:
            factors.append(n)
            break
    return factors

In [181]:
%%time
factors = {n: factorize(n) for n in range(1, 1_000_001)}

CPU times: user 14.8 s, sys: 306 ms, total: 15.1 s
Wall time: 15.1 s

%%time
import math

d_max = 10000
cnt = 0
for n in range(1, d_max):
    f = set(factors[n])
    l = functools.reduce(lambda x, y: x * y, f, 1)
    if len(f) <= 2:
        pass
    else:
        cycle = [math.gcd(d, l) == 1 for d in range(1, l + 1)]
    #print(n, f, l, cycle)

In [184]:
functools.reduce?

In [182]:
import functools
list1 = [1, 2, 3]
 
functools.reduce(lambda x, y: x * y, list1)

6