## Generators (the yield statement)

In [1]:
# Generate the Fibonacci numbers using a for loop
f1, f2 = 1, 1
for _ in range(10):
    print(f1)
    f1, f2 = f2, f1 + f2

1
1
2
3
5
8
13
21
34
55

In [2]:
def gen_fibonacci(n=10):
    f1, f2 = 1, 1
    for _ in range(n):
        yield f1
        f1, f2 = f2, f1 + f2

In [3]:
type(gen_fibonacci())

generator

In [4]:
for f in gen_fibonacci():
    print(f)

1
1
2
3
5
8
13
21
34
55

In [5]:
list(gen_fibonacci(20))

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

## Generator Expressions

In [6]:
sq = (i**2 for i in range(10))

In [7]:
type(sq)

generator

In [8]:
sum(sq)

285

In [9]:
sum(i**2 for i in range(10))

285

### 10001st Prime (Problem 7)

By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.
What is the 10001st prime number?

In [10]:
%%time
# solution 1
def is_prime(n):
    if n <= 1: return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0: return False
    return True

cand = 3
idx = 2
while True:
    if is_prime(cand):
        if idx == 10001: break
        idx += 1
    cand += 2
    
print(cand, idx)

104743 10001
CPU times: user 190 ms, sys: 0 ns, total: 190 ms
Wall time: 188 ms

In [11]:
%%time
# solution 2
import sympy

cand = 3
idx = 2
while True:
    if sympy.isprime(cand):
        if idx == 10001: break
        idx += 1
    cand += 2
    
print(cand, idx)

104743 10001
CPU times: user 378 ms, sys: 80.4 ms, total: 458 ms
Wall time: 458 ms

In [12]:
%%time
# solution 3
def gen_primes(n):
    yield 2
    cand = 3
    idx = 2
    while True:
        if sympy.isprime(cand):
            yield cand
            if idx == n: return
            idx += 1
        cand += 2
        
for p in gen_primes(10001):
    pass
p

CPU times: user 131 ms, sys: 4.16 ms, total: 135 ms
Wall time: 134 ms

104743

In [13]:
%%time
# solution 4

def is_prime(n, primes):
    for i in primes:
        if n % i == 0: return False
        if i * i > n: break
    return n > 1

def gen_primes(n):
    yield 2
    cand = 3
    idx = 2
    primes = [2]
    while True:
        if is_prime(cand, primes):
            primes.append(cand)
            yield cand
            if idx == n: return
            idx += 1
        cand += 2
        
for p in gen_primes(10001):
    pass
p

CPU times: user 86.2 ms, sys: 0 ns, total: 86.2 ms
Wall time: 85 ms

104743

### Coin Sums (Problem 31)

In the United Kingdom the currency is made up of pound (£) and pence (p). There are eight coins in general circulation: 1p, 2p, 5p, 10p, 20p, 50p, £1 (100p), and £2 (200p). It is possible to make £2 in the following way:
1×£1 + 1×50p + 2×20p + 1×5p + 1×2p + 3×1p
How many different ways can £2 be made using any number of coins?

In [14]:
%%time
def num_decompositions(coins, target):
    if target == 0: return 1
    if len(coins) == 1: return int(target % coins[0] == 0)
    # if len(coins) == 1: return 1
    
    c = coins[-1]
    return sum(
        num_decompositions(coins[:-1], target - i * c)
        for i in range(target // c + 1)
    )
        
num_decompositions([1, 2, 5, 10, 20, 50, 100, 200], 200)

CPU times: user 42.5 ms, sys: 0 ns, total: 42.5 ms
Wall time: 41.5 ms

73682

###  Distinct Powers (Problem 29)

Consider all integer combinations of $a^b$ for $2 \le a \le 5$ and $2 \le b \le 5$:

\begin{matrix}
2^2=4, 2^3=8, 2^4=16, 2^5=32\\
3^2=9, 3^3=27, 3^4=81, 3^5=243\\
4^2=16,4^3=64, 4^4=256, 4^5=1024\\
5^2=25, 5^3=125, 5^4=625, 5^5=3125
\end{matrix}
<p>If they are then placed in numerical order, with any repeats removed, we get the following sequence of $15$ distinct terms:
$$4, 8, 9, 16, 25, 27, 32, 64, 81, 125, 243, 256, 625, 1024, 3125.$$</p>
<p>How many distinct terms are in the sequence generated by $a^b$ for $2 \le a \le 100$ and $2 \le b \le 100$?</p>

In [15]:
# solution 1
s = set()
for a in range(2, 101):
    for b in range(2, 101):
        s.add(a**b)
len(s)

9183

In [16]:
# solution 2
import itertools
len({a**b for a, b in itertools.product(range(2, 101), repeat=2)})

9183

### Integer Right Triangles (Problem 39)
If $f$ is the perimeter of a right angle triangle with integral length sides, $\{a, b, c\}$, there are exactly three solutions for $p=120$.

$$\{20,48,52\}, \{24,45,51\}, \{30,40,50\}$$

For which value of $p \leq 1000$, is the number of solutions maximised?

In [17]:
# solution 1
nsol = {}
for p in range(3, 1001):
    cnt = 0
    for a in range(1, p // 3 + 1):
        for b in range(a, (p - a) // 2 + 1):
            c = p - a - b
            if a**2 + b**2 == c**2:
                cnt += 1
    nsol[p] = cnt

In [18]:
max(nsol, key=lambda p: nsol[p])

840

### Iterating over the rows of a DataFrame

In [19]:
# load example DataFrame
import pandas as pd
names = ['round', 'hteam', 'ateam', 'hgoals', 'agoals']
df = pd.read_csv('pl.txt', sep='\t', skiprows=6, names=names)
df

     round                 hteam                    ateam  hgoals  agoals
0        1      Blackburn Rovers  Wolverhampton Wanderers       1       2
1        1             Fulham FC              Aston Villa       0       0
2        1          Liverpool FC           Sunderland AFC       1       1
3        1   Queens Park Rangers         Bolton Wanderers       0       4
4        1        Wigan Athletic             Norwich City       1       1
..     ...                   ...                      ...     ...     ...
375     38        Sunderland AFC        Manchester United       0       1
376     38          Swansea City             Liverpool FC       1       0
377     38     Tottenham Hotspur                Fulham FC       2       0
378     38  West Bromwich Albion               Arsenal FC       2       3
379     38        Wigan Athletic  Wolverhampton Wanderers       3       2

[380 rows x 5 columns]

In [20]:
%timeit for idx, row in df.iterrows(): pass

16.5 ms ± 30.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [22]:
for idx, row in df.iterrows(): pass
idx, row.hteam

(379, 'Wigan Athletic')

In [23]:
%timeit for row in df.itertuples(): pass

719 µs ± 3.19 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [24]:
for row in df.itertuples(): pass
print(row)
print(row.Index)
print(row.hteam)
print(row[0])
print(row[1])

Pandas(Index=379, round=38, hteam='Wigan Athletic', ateam='Wolverhampton Wanderers', hgoals=3, agoals=2)
379
Wigan Athletic
379
38

In [25]:
%timeit for row in df.itertuples(index=False): pass

700 µs ± 1.46 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

### Iterating over the groups of a GroupBy

In [26]:
# For each round select the teams that scored the most goals.
data = []
for r, df1 in df.groupby('round'):
    maxgoals = max(df1['hgoals'].max(), df1['agoals'].max())
    teams = list(df1['hteam'][df1['hgoals'] == maxgoals]) + list(df1['ateam'][df1['agoals'] == maxgoals])
    for t in teams:
        data.append({'round': r, 'team': t, 'goals': maxgoals})
pd.DataFrame(data)

    round               team  goals
0       1    Manchester City      4
1       1   Bolton Wanderers      4
2       2        Aston Villa      3
3       2  Manchester United      3
4       2    Manchester City      3
..    ...                ...    ...
66     37       Liverpool FC      4
67     38         Everton FC      3
68     38    Manchester City      3
69     38     Wigan Athletic      3
70     38         Arsenal FC      3

[71 rows x 3 columns]

### Selecting specific groups from a GroupBy

In [27]:
gb = df.groupby('round')

In [28]:
gb.get_group(10)

    round                 hteam                    ateam  hgoals  agoals
90     10            Everton FC        Manchester United       0       1
91     10            Chelsea FC               Arsenal FC       3       5
92     10       Manchester City  Wolverhampton Wanderers       3       1
93     10          Norwich City         Blackburn Rovers       3       3
94     10        Sunderland AFC              Aston Villa       2       2
95     10          Swansea City         Bolton Wanderers       3       1
96     10        Wigan Athletic                Fulham FC       0       2
97     10  West Bromwich Albion             Liverpool FC       0       2
98     10     Tottenham Hotspur      Queens Park Rangers       3       1
99     10            Stoke City         Newcastle United       1       3

### Context Managers (with statement)

In [29]:
# file handling example
try:
    f = open('pl.txt')
    f.readline()
    line = f.readline()
    tok = line.split()
    int(tok[1])
except ValueError:
    print('error 1')
finally:
    f.close()

error 1

In [30]:
# the same example using the with statement
with open('pl.txt') as f: # f.__enter__() is called
    f.readline()
    line = f.readline()
    tok = line.split()
    try:
        int(tok[1])
    except ValueError:
        print('error 1')

# f.__exit__() is called

error 1

In [31]:
# writing a file in a with block
with open('foo.txt', 'w') as f:
    f.write('bar')
# (the file closed here for sure)

In [32]:
open('foo.txt', 'w').write('bar')
# (it is dependent on the interpreter or configuration if the file is closed here)

3

### Double-base Palindromes (Problem 36)

The decimal number $585_{10} = 1001001001_2$ is palindromic in both bases. Find the sum of all numbers, less than one million, which are palindromic in base 10 and base 2. (Please note that the palindromic number, in either base, may not include leading zeros.)

In [33]:
def is_palindrome(s):
    return s == s[::-1]

s = 0
for i in range(1_000_000):
    if is_palindrome(str(i)) and is_palindrome(bin(i)[2:]):
        s += i
s

872187

### Monopoly Odds (Problem 84)

- square idx to name mapping: 0 => GO, 1 => A1, ..., 39 => H2
- CC & CH deck: represented as a list of string actions, we shuffle at the beginning and pop-append at drawing a card (we can create a class for CC and CH)
- simulation step: roll, advance on board, process effects (CC, CH, G2J, 3 doubles) until there are effects, increase square counter (create a Simulation class)

In [116]:
SQ_NAMES = [
    'GO', 'A1', 'CC1', 'A2', 'T1', 'R1', 'B1', 'CH1', 'B2', 'B3',
    'JAIL', 'C1', 'U1', 'C2', 'C3', 'R2', 'D1', 'CC2', 'D2', 'D3',
    'FP', 'E1', 'CH2', 'E2', 'E3', 'R3', 'F1', 'F2', 'U2', 'F3',
    'G2J', 'G1', 'G2', 'CC3', 'G3', 'R4', 'CH3', 'H1', 'T2', 'H2'
]

In [117]:
SQ_LOCATIONS = {n: l for l, n in enumerate(SQ_NAMES)}

In [118]:
import hashlib

def hash6(str_list):
    s = ','.join(str_list)
    return hashlib.md5(s.encode('utf-8')).hexdigest()[:6]

In [119]:
assert len(SQ_NAMES) == 40
assert hash6(SQ_NAMES) == 'c91376'

In [145]:
import random

class Deck:
    def __init__(self, cards, seed=42):
        self.cards = cards
        random.Random(seed).shuffle(self.cards)
        self.idx = -1
        
    def draw_card(self):
        self.idx = (self.idx + 1) % len(self.cards)
        return self.cards[self.idx]
    
class CommunityChestDeck(Deck):
    def __init__(self, seed=42):
        super().__init__(['GO', 'JAIL'] + ['-'] * 14, seed)
    
    def draw_and_handle_card(self, loc):
        action = self.draw_card()
        if action in {'GO', 'JAIL'}:
            return SQ_LOCATIONS[action]
        else:
            return loc
        
class ChanceDeck(Deck):
    def __init__(self, seed=42):
        super().__init__(
            ['GO', 'JAIL', 'C1', 'E3', 'H2', 'R1', 'next_R', 'next_R', 'next_U', 'back_3'] + ['-'] * 6,
            seed
        )
            
    def draw_and_handle_card(self, loc):
        action = self.draw_card()
        if action in {'GO', 'JAIL', 'C1', 'E3', 'H2', 'R1'}:
            loc = SQ_LOCATIONS[action]
        elif action == 'next_R':
            while True:
                loc = (loc + 1) % len(SQ_NAMES)
                if SQ_NAMES[loc].startswith('R'): break
        elif action == 'next_U':
            while True:
                loc = (loc + 1) % len(SQ_NAMES)
                if SQ_NAMES[loc].startswith('U'): break
        elif sq == 'step_3':
            loc = (loc - 3) % len(SQ_NAMES)
            
        return loc

In [146]:
class Dice:
    def __init__(self, seed=42):
        self.rnd = random.Random(seed)

class Dice66(Dice):
    def roll(self):
        self._values = self.rnd.randint(1, 6), self.rnd.randint(1, 6)
        return sum(self._values)
    
    def is_double(self):
        return self._values[0] == self._values[1]

In [136]:
d = Dice66()
assert hash6([str(d.roll()) for _ in range(100)]) == 'bba13d'

In [147]:
class Simulation:
    def __init__(self, dice, seed=42):
        self.loc = 0
        self.cc = CommunityChestDeck(seed + 1)
        self.ch = ChanceDeck(seed + 2)
        self.double_counter = 0
        
        self.visits = {n: 0 for n in SQ_NAMES}
        self.dice = dice
        
    def step(self):
        # roll
        value = self.dice.roll()
        if self.dice.is_double(): self.double_counter += 1
        else: self.double_counter = 0
        
        if self.double_counter >= 3: # handle 3 consecutive doubles
            self.loc = SQ_LOCATIONS['JAIL']
        else:
            loc = (self.loc + value) % len(SQ_NAMES) # advance on board
            while loc != self.loc:
                self.loc = loc
                if SQ_NAMES[loc] == 'G2J':
                    loc = SQ_LOCATIONS['JAIL']
                elif SQ_NAMES[loc].startswith('CC'): # handle community chest deck
                    loc = self.cc.draw_and_handle_card(loc)
                elif SQ_NAMES[loc].startswith('CH'): # handle chance deck
                    loc = self.ch.draw_and_handle_card(loc)
                    
        self.visits[SQ_NAMES[self.loc]] += 1
            
    def run(self, nsteps=100_000):
        for i in range(nsteps):
            self.step()
            
sim = Simulation(Dice66())
sim.run()

In [148]:
import pandas as pd
se = pd.Series(sim.visits)
se = se / se.sum()
se.sort_values()[::-1][:3]

JAIL    0.06265
E3      0.03093
GO      0.03055
dtype: float64

### Counting Fractions (Problem 72)

In [82]:
%%time
# Naive solution that is too slow.
import math

d_max = 10_000
cnt = 0
for n in range(1, d_max):
    for d in range(n + 1, d_max + 1):
        if math.gcd(n, d) == 1:
            cnt += 1
            
print(cnt)

30397485
CPU times: user 16.7 s, sys: 0 ns, total: 16.7 s
Wall time: 16.7 s

In [99]:
%%time
def factorize(n):
    factors = []
    while n > 1:
        for k in range(2, int(n**0.5) + 1):
            if n % k == 0:
                factors.append(k)
                n //= k
                break
        else:
            factors.append(n)
            break
    return factors

# factorize all integers below d_max
d_max = 1_000_000
factors = {n: factorize(n) for n in range(1, d_max)}

CPU times: user 14.7 s, sys: 280 ms, total: 15 s
Wall time: 15 s

In [100]:
%%time
import functools, itertools

def prod(seq):
    return functools.reduce(lambda x, y: x * y, seq, 1)


#3*7=21
#-7
#-3
#+1

#2*3*5=30
#-3*5=-15
#-2*5=-10
#-2*3=-6
#+5
#+3
#+2
#-1
#8

def count_rel_primes(distinct_factors):
    cnt = 0
    sgn = 1
    for k in range(len(distinct_factors), -1, -1):
        for c in itertools.combinations(distinct_factors, k):
            cnt += sgn * prod(c)
        sgn *= -1
    return cnt

cache = {}
s = 0
for n in range(1, d_max):
    if n % 1000 == 0: print(n)
    f = factors[n]
    df = sorted(set(f)) # distinct factors
    m = prod(df)        # cycle length
    if m not in cache:
        cache[m] = count_rel_primes(df)
    cnt = cache[m]
    
    s += ((d_max - n) // m) * cnt
    rem = (d_max - n) % m
    if len(f) == 1:
        s += rem
    else:
        s += sum(math.gcd(1 + d, m) == 1 for d in range(rem))

print('s =', s)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000
275000
276000
277000
278000
279000
280000
281000
282000
283000
284000
285000
286000
287000
288000
289000
290000
291000
292000
293000
294000
295000
296000
297000
298000
299000
300000
301000
302000
303000
304000
305000
306000
307000
308000
309000
310000
311000
312000
313000
314000
315000
316000
317000
318000
319000
320000
321000
322000
323000
324000
325000
326000
327000
328000
329000
330000
331000
332000
333000
334000
335000
336000
337000
338000
339000
340000
341000
342000
343000
344000
345000
346000
347000
348000
349000
350000
351000
352000
353000
354000
355000
356000
357000
358000
359000
360000
361000
362000
363000
364000
365000
366000
367000
368000
369000
370000
371000
372000
373000
374000
375000
376000
377000
378000
379000
380000
381000
382000
383000
384000
385000
386000
387000
388000
389000
390000
391000
392000
393000
394000
395000
396000
397000
398000
399000
400000
401000
402000
403000
404000
405000
406000
407000
408000
409000
410000
411000
412000
413000
414000
415000
416000
417000
418000
419000
420000
421000
422000
423000
424000
425000
426000
427000
428000
429000
430000
431000
432000
433000
434000
435000
436000
437000
438000
439000
440000
441000
442000
443000
444000
445000
446000
447000
448000
449000
450000
451000
452000
453000
454000
455000
456000
457000
458000
459000
460000
461000
462000
463000
464000
465000
466000
467000
468000
469000
470000
471000
472000
473000
474000
475000
476000
477000
478000
479000
480000
481000
482000
483000
484000
485000
486000
487000
488000
489000
490000
491000
492000
493000
494000
495000
496000
497000
498000
499000
500000
501000
502000
503000
504000
505000
506000
507000
508000
509000
510000
511000
512000
513000
514000
515000
516000
517000
518000
519000
520000
522000
523000
524000
525000
526000
527000
528000
529000
530000
531000
532000
533000
534000
535000
536000
537000
538000
539000
540000
541000
542000
543000
544000
545000
546000
547000
548000
549000
550000
551000
552000
553000
554000
555000
556000
557000
558000
559000
560000
561000
562000
563000
564000
565000
566000
567000
568000
569000
570000
571000
572000
573000
574000
575000
576000
577000
578000
579000
580000
581000
582000
583000
584000
585000
586000
587000
588000
589000
590000
591000
592000
593000
594000
595000
596000
597000
598000
599000
600000
601000
602000
603000
604000
605000
606000
607000
608000
609000
610000
611000
612000
613000
614000
615000
616000
617000
618000
619000
620000
621000
622000
623000
624000
625000
626000
627000
628000
629000
630000
631000
632000
633000
634000
635000
636000
637000
638000
639000
640000
641000
642000
643000
644000
645000
646000
647000
648000
649000
650000
651000
652000
653000
654000
655000
656000
657000
658000
659000
660000
661000
662000
663000
664000
665000
666000
667000
668000
669000
670000
671000
672000
673000
674000
675000
676000
677000
678000
679000
680000
681000
682000
683000
684000
685000
686000
687000
688000
689000
690000
691000
692000
693000
694000
695000
696000
697000
698000
699000
700000
701000
702000
703000
704000
705000
706000
707000
708000
709000
710000
711000
712000
713000
714000
715000
716000
717000
718000
719000
720000
721000
722000
723000
724000
725000
726000
727000
728000
729000
730000
731000
732000
733000
734000
735000
736000
737000
738000
739000
740000
741000
742000
743000
744000
745000
746000
747000
748000
749000
750000
751000
752000
753000
754000
755000
756000
757000
758000
759000
760000
761000
762000
763000
764000
765000
766000
767000
768000
769000
770000
771000
772000
773000
774000
775000
776000
777000
778000
779000
780000
781000
782000
783000
784000
785000
786000
787000
788000
789000
790000
791000
792000
793000
794000
795000
796000
797000
798000
799000
800000
801000
802000
803000
804000
805000
806000
807000
808000
809000
810000
811000
812000
813000
814000
815000
816000
817000
818000
819000
820000
821000
822000
823000
824000
825000
826000
827000
828000
829000
830000
831000
832000
833000
834000
835000
836000
837000
838000
839000
840000
841000
842000
843000
844000
845000
846000
847000
848000
849000
850000
851000
852000
853000
854000
855000
856000
857000
858000
859000
860000
861000
862000
863000
864000
865000
866000
867000
868000
869000
870000
871000
872000
873000
874000
875000
876000
877000
878000
879000
880000
881000
882000
883000
884000
885000
886000
887000
888000
889000
890000
891000
892000
893000
894000
895000
896000
897000
898000
899000
900000
901000
902000
903000
904000
905000
906000
907000
908000
909000
910000
911000
912000
913000
914000
915000
916000
917000
918000
919000
920000
921000
922000
923000
924000
925000
926000
927000
928000
929000
930000
931000
932000
933000
934000
935000
936000
937000
938000
939000
940000
941000
942000
943000
944000
945000
946000
947000
948000
949000
950000
951000
952000
953000
954000
955000
956000
957000
958000
959000
960000
961000
962000
963000
964000
965000
966000
967000
968000
969000
970000
971000
972000
973000
974000
975000
976000
977000
978000
979000
980000
981000
982000
983000
984000
985000
986000
987000
988000
989000
990000
991000
992000
993000
994000
995000
996000
997000
998000
999000
s = 303963552391
CPU times: user 12h 34min 26s, sys: 3min, total: 12h 37min 26s
Wall time: 12h 37min 26s

In [ ]:
# s = 303963552391
# CPU times: user 12h 34min 26s, sys: 3min, total: 12h 37min 26s
# Wall time: 12h 37min 26s